USE [CAEDU]
GO
/****** Object:  StoredProcedure [dbo].[LX_CTB_GERA_BALANCETE_ABERTO]    Script Date: 16/10/2020 15:53:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

alter table CTB_BALANCETE_SALDO_ANTERIOR
add indica_encerramento bit null
go

ALTER PROCEDURE [dbo].[LX_CTB_GERA_BALANCETE_ABERTO]
						@EMPRESA 				INT ,
						@VISAO_CONTABIL 		CHAR(4), 
						@ID_VERSAO_CONTABIL 	INT, 
						@ID_EXERCICIO 			INT, 
						@ID_PERIODO 			INT, 
						@SMOV 					BIT, 
						@TIPO_MOVIMENTO 		TINYINT 	= NULL , 
						@COD_FILIAL 			VARCHAR(6) 	= NULL , 
						@CENTRO_CUSTO 			VARCHAR(15) = NULL ,
						@GERA_SALDO_ANTERIOR	BIT,
						@COD_MATRIZ_CONTABIL	VARCHAR(6) 	= NULL ,
						@VISAO_CCUSTO			VARCHAR(4)	= NULL ,
						@VER_ENCERRAMENTO		INT         = NULL ,
						@MOV_SALDO_ANTERIOR		BIT			= NULL

AS

-- 01/08/2014 - MARCELO FUSTINI  - TP 5862149 - 02.14.001 -     - REMOÇÃO DA ALTERAÇÃO #4# (SALDO DO BALANCETE SEM SER MÊS FECHADO)
-- 15/05/2014 - MARCELO FUSTINI  - TP 5450384 - 02.14 - #4# - INCLUSÃO DE TRATAMENTO PARA SALDO DO BALANCETE SEM SER MÊS FECHADO
-- 10/10/2012 - ALEX BORTOTO - TP 3048003 - #3# - AO EFETUAR O SUBSELECT COM A TABELA CTB_BALANCETE_SALDO_ANTERIOR, INCLUIDO O ALIAS B PARA A MESMA, POIS APRESENTAVA ERRO DE AMBIGUOS COM A COLUNA TIPO_MOVIMENTO
-- 10/10/2012 - ALEX BORTOTO - TP 3048003 - #2# - RETIRADO DO JOIN COM A TABELA #FX_USERS_MATRIZ_CONTABIL A INFORMAÇÃO (@USUARIO)
-- 20/08/2012 - JOAO RICARDO - MELHORIA DE PERFORMANCE
-- 26/03/2012 - LUCAS SOUZA	 - TP 2031720 - #1# Criar um INNER join ligando a CTB_CENTRO_CUSTO_USUARIO com as tabelas CTB_CENTRO_CUSTO_RATEIO  e CTB_FILIAL_RATEIO.
--											Esse join só é aplicado quando temos o parâmetro "CTB_VALIDA_USUARIO_CC" válido.
-- 03/08/2011 - DEBORAH		 - INCLUIDO FILTRO LX_GRUPO_MOVIMENTO
-- 01/07/2011 - ADRIANO RODRIGUES - TRATAMENTO DE FILTRO DE USUÁRIO POR CENTRO DE CUSTO
-- 11/06/2010 - DEBORAH		 - INCLUIDO VARIAVEL @NAO_ZERAR_RECEITA_DESPESA DE ACORDO COM O PARAMETRO NAO_ZERAR_RECEITA_DESPESA
-- 15/04/2009 - JOAO RICARDO - ALTERAR TAMANHO DA CLASSIFICAÇÃO
-- 18/03/2008 - JOAO RICARDO - NÃO ESTAVA VALIDANDO A MATRIZ CONTÁBIL NO SALDO ANTERIOR DAS CONTAS SEM MOVIMENTO
-- 06/03/2008 - JOAO RICARDO - VALIDAR TABELA USERS_MATRIZ_CONTABIL
-- 14/01/2008 - JOAO RICARDO - BUSCAR MOVIMENTAÇÕES DA TABELA DE SALDO ANTERIOR
-- 14/06/2007 - JOAO RICARDO - VERIFICAR O PARAMETRO VER_ENCERRAMENTO DA PROCEDURE
-- 08/06/2006 - SERGIO       - ALTERAR COLLATE DE SQL_LATIN1_GENERAL_CP1_CI_AS PARA DATABASE_DEFAULT
-- 06/06/2005 15:53 - JOÃO RICARDO - ESTAVA BUSCANDO SALDO ANTERIOR DAS CONTAS DE DESPESA E RECEITA SEM MOVIMENTO NO MÊS
-- 15/09/2003 11:01 - JOÃO RICARDO - CRIADA PARA TER O RESULTADO POR FILIAL, CENTRO DE CUSTO, TIPO_MOVIMENTO, MATRIZ_CONTABIL
-- 15/09/2003 16:38 - JOÃO RICARDO - TIRAR CONTAS COM SALDO ANTERIOR IGUAL A ZERO
-- 30/09/2003 15:08 - JOÃO RICARDO - INCLUSÃO DA VERIFICAÇÃO DA PORCENTAGEM DA TABELA CTB_CONTA_PLANO
-- 13/01/2003 11:39 - JOÃO RICARDO - QUANDO ESTAVA BUSCANDO A CONTA_CONTABIL NÃO ESTAVA GRAVANDO EM QUAL CLASSIFICAÇÃO ESTAVA A CONTA,
--														PODERIA OCORRER PROBLEMA QUANDO A MESMA CONTA ESTIVESSE EM DUAS CLASSIFICAÇÕES DIFERENTES
-- 23/01/2004 09:38 - JOÃO RICARDO - INCLUIR CAMPO ID_GRUPO_CENTRO_CUSTO NA VERIFICAÇÃO PARA GERAR BALANCETE ABERTO
-- 02/03/2004 10:30 - JOÃO RICARDO - PROBLEMA COM A VALIDAÇÃO DAS CONTAS QUE TINHAM MOVIMENTO E AS QUE NÃO TINHAM
-- 28/04/2004 12:26 - JOÃO RICARDO - VERIFICAR A VISAO CENTRO CUSTO
-- 14/06/2004 15:15 - JOÃO RICARDO - PROBLEMA NO SALDO ANTERIOR NO SELECT DAS CONTAS SEM MOVIMENTO , MAS COM SALDO ANTERIOR
-- 23/06/2004 19:23 - JOÃO RICARDO - AUMENTAR AS CASAS DECIMAIS PARA CINCO.
-- 25/06/2004 13:59 - JOÃO RICARDO - INCLUIR CAMPO DE SALDO DO PERÍODO
-- 29/09/2004 16:32 - JOÃO RICARDO - INCLUSÃO DO GRUPO DO CENTRO DE CUSTO NO RESULTADO.
-- 05/10/2004 11:16 - JOÃO RICARDO - VERIFICAR SE NA VISÃO A CLASSIFICAÇÃO TEM QUE CONSTAR
-- 14/10/2004 14:37 = JOÃO RICARDO - VERIFICAR AS CONTAS DE TOTAIS O NÃO CONSTAR
-- 08/11/2004 11:13 - JOÃO RICARDO - AGRUPAR POR EMPRESA.
-- 10/12/2004 15:56 - JOÃO RICARDO - NO BUSCA CONTA SEM MOVIMENTO DO MÊS , O SALDO ANTERIOR ESTAVA BUSCANDO O INICIIO DA VERSÃO.(ERRADO)
-- 14/12/2004 17:08 - JOÃO RICARDO - TRATAMENTO DE DESPESAS FIXAS E VARIÁVEIS

DECLARE 	@DATA_INICIAL				DATETIME,
			@DATA_FINAL					DATETIME,
			@DATA_INICIAL_VERSAO		DATETIME,
			@SEQUENCIA					VARCHAR(20),
			@TIPO						CHAR(1),
			@ERRMSG						VARCHAR(400),
			@ID_BALANCETE				INT,
			@USUARIO					VARCHAR(25),
			@NAO_ZERAR_RECEITA_DESPESA	INT,
			@VALIDA_CC					BIT

SELECT @VER_ENCERRAMENTO			= ISNULL(@VER_ENCERRAMENTO,0)
SELECT @USUARIO						= USUARIO FROM USERS WHERE LX_SYSTEM_USER = SYSTEM_USER
SELECT @NAO_ZERAR_RECEITA_DESPESA	= COUNT(*) FROM PARAMETROS WHERE PARAMETRO = 'NAO_ZERAR_RECEITA_DESPESA' AND RTRIM(ISNULL(VALOR_ATUAL,'.F.'))  = '.T.'
SELECT @VALIDA_CC					= 0
SELECT @VALIDA_CC					= CASE WHEN VALOR_ATUAL = '.T.' THEN 1 ELSE 0 END FROM PARAMETROS WHERE PARAMETRO = 'CTB_VALIDA_USUARIO_CC'

SELECT * 
INTO #FX_USERS_MATRIZ_CONTABIL
FROM DBO.FX_USERS_MATRIZ_CONTABIL(@USUARIO)

CREATE  INDEX [XIE1#FX_USERS_MATRIZ_CONTABIL] ON [dbo].[#FX_USERS_MATRIZ_CONTABIL]([COD_MATRIZ_CONTABIL]) WITH  FILLFACTOR = 10 ON [PRIMARY]

IF @GERA_SALDO_ANTERIOR = 1 
	EXEC LX_CTB_GERA_BALANCETE_SALDO_ANTERIOR

SELECT @MOV_SALDO_ANTERIOR = ISNULL(@MOV_SALDO_ANTERIOR,0)		

-- BUSCA DATA INICIAL E FINAL DO PERIODO
SELECT 	@DATA_INICIAL 		= DATA_INICIAL, 
			@DATA_FINAL 	= DATA_FINAL 
FROM W_CTB_PERIODO_CALCULO
WHERE ID_VERSAO_CONTABIL	= @ID_VERSAO_CONTABIL 	AND
		ID_EXERCICIO		= @ID_EXERCICIO			AND
		ID_PERIODO			= @ID_PERIODO

-- DATA DO INICIO DA VERSAO CONTABIL
SELECT @DATA_INICIAL_VERSAO = MIN(DATA_INICIAL) 
FROM W_CTB_PERIODO_CALCULO
WHERE ID_VERSAO_CONTABIL	= @ID_VERSAO_CONTABIL 	


-- CRIA TABELA PARA GUARDAR CONTA_CONTABIL , CREDITO, DEBITO E SALDO_ANTERIOR
CREATE TABLE #CTB_CONTA_CONTABIL 
				(	EMPRESA					INT,
					COD_FILIAL				VARCHAR(6)  	COLLATE DATABASE_DEFAULT,
					COD_MATRIZ_CONTABIL		VARCHAR(6) 		COLLATE DATABASE_DEFAULT,
					CENTRO_CUSTO			VARCHAR(15) 	COLLATE DATABASE_DEFAULT,
					TIPO_MOVIMENTO			TINYINT,		
					CLASSIFICACAO			VARCHAR(20) 	COLLATE DATABASE_DEFAULT,
					CONTA_CONTABIL			VARCHAR(20) 	COLLATE DATABASE_DEFAULT,
					CREDITO					NUMERIC(19,5),
					DEBITO					NUMERIC(19,5),
					SALDO_ANTERIOR			NUMERIC(19,5)
				)

-- CRIA INDICE PARA TABELA DO BALANCETE
CREATE NONCLUSTERED INDEX IND_CTB_CONTA_CONTABIL
   ON #CTB_CONTA_CONTABIL (CONTA_CONTABIL)
   WITH FILLFACTOR = 80	

-- CONTAS COM MOVIMENTO
IF @VER_ENCERRAMENTO = 0
	BEGIN
		IF @MOV_SALDO_ANTERIOR = 0
			BEGIN
				IF @NAO_ZERAR_RECEITA_DESPESA = 0
					BEGIN
						INSERT #CTB_CONTA_CONTABIL (EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, TIPO_MOVIMENTO, CLASSIFICACAO, CONTA_CONTABIL, CREDITO, DEBITO, SALDO_ANTERIOR)
						(SELECT 	CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA END,
									A.COD_FILIAL_RATEIO,
									A.COD_MATRIZ_CONTABIL,
									A.CENTRO_CUSTO,
									A.TIPO_MOVIMENTO,
									C.CLASSIFICACAO,
									A.CONTA_CONTABIL, 
									CREDITO			= SUM(ISNULL(A.CREDITO,0))*(C.PORCENTAGEM/100), 
									DEBITO			= SUM(ISNULL(A.DEBITO,0))*(C.PORCENTAGEM/100),
										SALDO_ANTERIOR	= CASE WHEN RTRIM(B.LX_GRUPO_CONTABIL) NOT IN ('D','R','F') THEN
																	ISNULL((SELECT SUM(SALDO)*(C.PORCENTAGEM/100) FROM CTB_BALANCETE_SALDO_ANTERIOR B
																	WHERE (EMPRESA					= (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA	END)	OR @EMPRESA = 0)	AND
																			COD_FILIAL				= A.COD_FILIAL_RATEIO		AND
																			COD_MATRIZ_CONTABIL	= A.COD_MATRIZ_CONTABIL		AND
																			CENTRO_CUSTO			= A.CENTRO_CUSTO				AND
																			B.TIPO_MOVIMENTO			= A.TIPO_MOVIMENTO			AND --#3#
																			DATA_SALDO				<	@DATA_INICIAL				AND
																			CONTA_CONTABIL			= A.CONTA_CONTABIL			AND
																			(ID_GRUPO_CENTRO_CUSTO = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL) AND
																			INDICA_ENCERRAMENTO = 0
																	GROUP BY CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE EMPRESA END, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, B.TIPO_MOVIMENTO, CONTA_CONTABIL
																	HAVING SUM(SALDO) <> 0),0)
																	
																ELSE
																	ISNULL((SELECT SUM(SALDO)*(C.PORCENTAGEM/100) FROM CTB_BALANCETE_SALDO_ANTERIOR B
																		WHERE (EMPRESA					   = (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA	END)		OR @EMPRESA = 0)		AND
																				COD_FILIAL				   = A.COD_FILIAL_RATEIO		AND
																				COD_MATRIZ_CONTABIL	   = A.COD_MATRIZ_CONTABIL		AND
																				CENTRO_CUSTO			   = A.CENTRO_CUSTO				AND
																				B.TIPO_MOVIMENTO			   = A.TIPO_MOVIMENTO			AND
																				DATA_SALDO >= CAST(YEAR(@DATA_INICIAL) AS VARCHAR(4)) + '0101' AND
																				--DATA_SALDO 				   >= CAST(YEAR(@DATA_INICIAL)	AS VARCHAR(4))+'0101'	AND
																				DATA_SALDO				   <	@DATA_INICIAL	 			AND
																				CONTA_CONTABIL			   = A.CONTA_CONTABIL			AND
																				(ID_GRUPO_CENTRO_CUSTO  = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL) AND
																				INDICA_ENCERRAMENTO     = 0
																		GROUP BY CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE EMPRESA END, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, B.TIPO_MOVIMENTO, CONTA_CONTABIL
																		HAVING SUM(SALDO) <> 0),0)
																END
						FROM W_CTB_LANCAMENTO_ITEM_ABERTO A
								JOIN CTB_CONTA_PLANO B ON
									A.CONTA_CONTABIL = B.CONTA_CONTABIL
								JOIN CTB_PLANO_VISAO C ON
									C.CONTA_CONTABIL	= A.CONTA_CONTABIL	AND
									C.VISAO_CONTABIL	= @VISAO_CONTABIL
								JOIN CTB_VISAO	D ON
									C.VISAO_CONTABIL	= D.VISAO_CONTABIL		AND
									C.CLASSIFICACAO	= D.CLASSIFICACAO
								JOIN #FX_USERS_MATRIZ_CONTABIL/*#2#(@USUARIO)*/ E ON
									A.COD_MATRIZ_CONTABIL			= E.COD_MATRIZ_CONTABIL
								--#1#
								LEFT JOIN CTB_CENTRO_CUSTO_USUARIO   ON 
									CTB_CENTRO_CUSTO_USUARIO.USUARIO = @USUARIO AND 
									(A.CENTRO_CUSTO = CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO OR CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO IS NULL) AND 
									(A.COD_FILIAL_RATEIO = CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL OR CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL IS NULL)
						WHERE (A.EMPRESA					= @EMPRESA			OR @EMPRESA				= 0	)	AND
								(A.COD_FILIAL_RATEIO		= @COD_FILIAL		OR @COD_FILIAL 		IS NULL)	AND
								(A.COD_MATRIZ_CONTABIL	= @COD_MATRIZ_CONTABIL		OR @COD_MATRIZ_CONTABIL 		IS NULL)	AND
								(A.CENTRO_CUSTO			= @CENTRO_CUSTO	OR @CENTRO_CUSTO		IS NULL)	AND
								(A.TIPO_MOVIMENTO			= @TIPO_MOVIMENTO			OR (@TIPO_MOVIMENTO IS NULL AND A.LX_GRUPO_MOVIMENTO <> 'E')) AND  
								A.DATA_LANCAMENTO 		>= @DATA_INICIAL						AND
								A.DATA_LANCAMENTO			<=	@DATA_FINAL 						AND
								A.LX_TIPO_LANCAMENTO NOT IN ('LAD','LAC','ELD', 'ELC')	AND
								(A.ID_GRUPO_CENTRO_CUSTO = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL)			AND
								ISNULL(D.LX_GRUPO_CONTABIL,'') 	<> 'N' AND 
								(ISNULL(@VALIDA_CC,0) = 0 OR CTB_CENTRO_CUSTO_USUARIO.USUARIO IS NOT NULL)
						GROUP BY (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA END), A.COD_FILIAL_RATEIO, A.COD_MATRIZ_CONTABIL, A.CENTRO_CUSTO, A.TIPO_MOVIMENTO, C.CLASSIFICACAO, A.CONTA_CONTABIL, B.LX_GRUPO_CONTABIL, C.PORCENTAGEM, C.ID_GRUPO_CENTRO_CUSTO)
					END
				ELSE
					BEGIN
						INSERT #CTB_CONTA_CONTABIL (EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, TIPO_MOVIMENTO, CLASSIFICACAO, CONTA_CONTABIL, CREDITO, DEBITO, SALDO_ANTERIOR)
						(SELECT 	CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA END,
									A.COD_FILIAL_RATEIO,
									A.COD_MATRIZ_CONTABIL,
									A.CENTRO_CUSTO,
									A.TIPO_MOVIMENTO,
									C.CLASSIFICACAO,
									A.CONTA_CONTABIL, 
									CREDITO			= SUM(ISNULL(A.CREDITO,0))*(C.PORCENTAGEM/100), 
									DEBITO			= SUM(ISNULL(A.DEBITO,0))*(C.PORCENTAGEM/100),
										SALDO_ANTERIOR	= CASE WHEN RTRIM(B.LX_GRUPO_CONTABIL) NOT IN ('D','R','F') THEN
																	ISNULL((SELECT SUM(SALDO)*(C.PORCENTAGEM/100) FROM CTB_BALANCETE_SALDO_ANTERIOR B
																	WHERE (EMPRESA					= (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA	END)	OR @EMPRESA = 0)	AND
																			COD_FILIAL				= A.COD_FILIAL_RATEIO		AND
																			COD_MATRIZ_CONTABIL	= A.COD_MATRIZ_CONTABIL		AND
																			CENTRO_CUSTO			= A.CENTRO_CUSTO				AND
																			B.TIPO_MOVIMENTO			= A.TIPO_MOVIMENTO			AND --#3#
																			DATA_SALDO				<	@DATA_INICIAL				AND
																			CONTA_CONTABIL			= A.CONTA_CONTABIL			AND
																			(ID_GRUPO_CENTRO_CUSTO = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL) AND
																			INDICA_ENCERRAMENTO = 0
																	GROUP BY CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE EMPRESA END, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, B.TIPO_MOVIMENTO, CONTA_CONTABIL
																	HAVING SUM(SALDO) <> 0),0)
																	
																ELSE
																	ISNULL((SELECT SUM(SALDO)*(C.PORCENTAGEM/100) FROM CTB_BALANCETE_SALDO_ANTERIOR B
																		WHERE (EMPRESA					   = (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA	END)		OR @EMPRESA = 0)		AND
																				COD_FILIAL				   = A.COD_FILIAL_RATEIO		AND
																				COD_MATRIZ_CONTABIL	   = A.COD_MATRIZ_CONTABIL		AND
																				CENTRO_CUSTO			   = A.CENTRO_CUSTO				AND
																				B.TIPO_MOVIMENTO			   = A.TIPO_MOVIMENTO			AND	--#3#																	
																				DATA_SALDO				   <	@DATA_INICIAL	 		AND
																				CONTA_CONTABIL			   = A.CONTA_CONTABIL			AND
																				(ID_GRUPO_CENTRO_CUSTO  = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL) AND
																				INDICA_ENCERRAMENTO     = 0
																		GROUP BY CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE EMPRESA END, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, B.TIPO_MOVIMENTO, CONTA_CONTABIL
																		HAVING SUM(SALDO) <> 0),0)
																END
						FROM W_CTB_LANCAMENTO_ITEM_ABERTO A
								JOIN CTB_CONTA_PLANO B ON
									A.CONTA_CONTABIL = B.CONTA_CONTABIL
								JOIN CTB_PLANO_VISAO C ON
									C.CONTA_CONTABIL	= A.CONTA_CONTABIL	AND
									C.VISAO_CONTABIL	= @VISAO_CONTABIL
								JOIN CTB_VISAO	D ON
									C.VISAO_CONTABIL	= D.VISAO_CONTABIL		AND
									C.CLASSIFICACAO	= D.CLASSIFICACAO
								JOIN #FX_USERS_MATRIZ_CONTABIL/*#2#(@USUARIO)*/ E ON
									A.COD_MATRIZ_CONTABIL			= E.COD_MATRIZ_CONTABIL
								-- #1#	
								LEFT JOIN CTB_CENTRO_CUSTO_USUARIO   ON 
									CTB_CENTRO_CUSTO_USUARIO.USUARIO = @USUARIO AND 
									(A.CENTRO_CUSTO = CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO OR CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO IS NULL) AND 
									(A.COD_FILIAL_RATEIO = CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL OR CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL IS NULL)
						WHERE (A.EMPRESA					= @EMPRESA			OR @EMPRESA				= 0	)	AND
								(A.COD_FILIAL_RATEIO		= @COD_FILIAL		OR @COD_FILIAL 		IS NULL)	AND
								(A.COD_MATRIZ_CONTABIL	= @COD_MATRIZ_CONTABIL		OR @COD_MATRIZ_CONTABIL 		IS NULL)	AND
								(A.CENTRO_CUSTO			= @CENTRO_CUSTO	OR @CENTRO_CUSTO		IS NULL)	AND
								(A.TIPO_MOVIMENTO			= @TIPO_MOVIMENTO			OR (@TIPO_MOVIMENTO IS NULL AND A.LX_GRUPO_MOVIMENTO <> 'E')) AND  
								A.DATA_LANCAMENTO 		>= @DATA_INICIAL						AND
								A.DATA_LANCAMENTO			<=	@DATA_FINAL 						AND
								A.LX_TIPO_LANCAMENTO NOT IN ('LAD','LAC','ELD', 'ELC')	AND
								(A.ID_GRUPO_CENTRO_CUSTO = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL)			AND
								ISNULL(D.LX_GRUPO_CONTABIL,'') 	<> 'N' AND 
								(ISNULL(@VALIDA_CC,0) = 0 OR CTB_CENTRO_CUSTO_USUARIO.USUARIO IS NOT NULL)
						GROUP BY (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA END), A.COD_FILIAL_RATEIO, A.COD_MATRIZ_CONTABIL, A.CENTRO_CUSTO, A.TIPO_MOVIMENTO, C.CLASSIFICACAO, A.CONTA_CONTABIL, B.LX_GRUPO_CONTABIL, C.PORCENTAGEM, C.ID_GRUPO_CENTRO_CUSTO)
					END
			END
		ELSE
			BEGIN
				IF @NAO_ZERAR_RECEITA_DESPESA = 0
					BEGIN
						INSERT #CTB_CONTA_CONTABIL (EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, TIPO_MOVIMENTO, CLASSIFICACAO, CONTA_CONTABIL, CREDITO, DEBITO, SALDO_ANTERIOR)
						(SELECT 	CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA END,
									A.COD_FILIAL,
									A.COD_MATRIZ_CONTABIL,
									A.CENTRO_CUSTO,
									A.TIPO_MOVIMENTO,
									C.CLASSIFICACAO,
									A.CONTA_CONTABIL, 
									CREDITO			= SUM(ISNULL(A.CREDITO,0))*(C.PORCENTAGEM/100), 
									DEBITO			= SUM(ISNULL(A.DEBITO,0))*(C.PORCENTAGEM/100),
										SALDO_ANTERIOR	= CASE WHEN RTRIM(B.LX_GRUPO_CONTABIL) NOT IN ('D','R','F') THEN
																	ISNULL((SELECT SUM(SALDO)*(C.PORCENTAGEM/100) FROM CTB_BALANCETE_SALDO_ANTERIOR B
																	WHERE (EMPRESA					= (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA	END)	OR @EMPRESA = 0)	AND
																			COD_FILIAL				= A.COD_FILIAL					AND
																			COD_MATRIZ_CONTABIL	= A.COD_MATRIZ_CONTABIL		AND
																			CENTRO_CUSTO			= A.CENTRO_CUSTO				AND
																			B.TIPO_MOVIMENTO			= A.TIPO_MOVIMENTO			AND --#3#
																			DATA_SALDO				<	@DATA_INICIAL				AND
																			CONTA_CONTABIL			= A.CONTA_CONTABIL			AND
																			(ID_GRUPO_CENTRO_CUSTO = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL) AND
																			INDICA_ENCERRAMENTO = 0
																	GROUP BY CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE EMPRESA END, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, B.TIPO_MOVIMENTO, CONTA_CONTABIL
																	HAVING SUM(SALDO) <> 0),0)
																	
																ELSE
																	ISNULL((SELECT SUM(SALDO)*(C.PORCENTAGEM/100) FROM CTB_BALANCETE_SALDO_ANTERIOR B
																		WHERE (EMPRESA					   = (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA	END)		OR @EMPRESA = 0)		AND
																				COD_FILIAL				   = A.COD_FILIAL					AND
																				COD_MATRIZ_CONTABIL	   = A.COD_MATRIZ_CONTABIL		AND
																				CENTRO_CUSTO			   = A.CENTRO_CUSTO				AND
																				B.TIPO_MOVIMENTO			   = A.TIPO_MOVIMENTO			AND --#3#
																				DATA_SALDO >= CAST(YEAR(@DATA_INICIAL) AS VARCHAR(4)) + '0101' AND
																				--DATA_SALDO 				   >= CAST(YEAR(@DATA_INICIAL)	AS VARCHAR(4))+'0101'	AND
																				DATA_SALDO				   <	@DATA_INICIAL	 			AND
																				CONTA_CONTABIL			   = A.CONTA_CONTABIL			AND
																				(ID_GRUPO_CENTRO_CUSTO  = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL) AND
																				INDICA_ENCERRAMENTO     = 0
																		GROUP BY CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE EMPRESA END, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, B.TIPO_MOVIMENTO, CONTA_CONTABIL
																		HAVING SUM(SALDO) <> 0),0)
																END
						FROM CTB_BALANCETE_SALDO_ANTERIOR A
								JOIN CTB_CONTA_PLANO B ON
									A.CONTA_CONTABIL = B.CONTA_CONTABIL
								JOIN CTB_PLANO_VISAO C ON
									C.CONTA_CONTABIL	= A.CONTA_CONTABIL	AND
									C.VISAO_CONTABIL	= @VISAO_CONTABIL
								JOIN CTB_VISAO	D ON
									C.VISAO_CONTABIL	= D.VISAO_CONTABIL		AND
									C.CLASSIFICACAO	= D.CLASSIFICACAO
								JOIN #FX_USERS_MATRIZ_CONTABIL E ON
									A.COD_MATRIZ_CONTABIL			= E.COD_MATRIZ_CONTABIL
								--#1#
								LEFT JOIN CTB_CENTRO_CUSTO_USUARIO   ON 
									CTB_CENTRO_CUSTO_USUARIO.USUARIO = @USUARIO AND 
									(A.CENTRO_CUSTO = CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO OR CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO IS NULL) AND 
									(A.COD_FILIAL = CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL OR CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL IS NULL)
								JOIN CTB_MOVIMENTO_TIPO F ON
									F.TIPO_MOVIMENTO = A.TIPO_MOVIMENTO
						WHERE (A.EMPRESA					= @EMPRESA			OR @EMPRESA				= 0	)	AND
								(A.COD_FILIAL				= @COD_FILIAL		OR @COD_FILIAL 		IS NULL)	AND
								(A.COD_MATRIZ_CONTABIL	= @COD_MATRIZ_CONTABIL		OR @COD_MATRIZ_CONTABIL 		IS NULL)	AND
								(A.CENTRO_CUSTO			= @CENTRO_CUSTO	OR @CENTRO_CUSTO		IS NULL)	AND
								(A.TIPO_MOVIMENTO			= @TIPO_MOVIMENTO			OR (@TIPO_MOVIMENTO IS NULL AND F.LX_GRUPO_MOVIMENTO <> 'E')) AND  
								A.DATA_SALDO		 		>= @DATA_INICIAL						AND
								A.DATA_SALDO				<=	@DATA_FINAL 						AND
								A.INDICA_ENCERRAMENTO	= 0										AND
								(A.ID_GRUPO_CENTRO_CUSTO = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL)			AND
								ISNULL(D.LX_GRUPO_CONTABIL,'') 	<> 'N' AND 
								(ISNULL(@VALIDA_CC,0) = 0 OR CTB_CENTRO_CUSTO_USUARIO.USUARIO IS NOT NULL)
						GROUP BY (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA END), A.COD_FILIAL, A.COD_MATRIZ_CONTABIL, A.CENTRO_CUSTO, A.TIPO_MOVIMENTO, C.CLASSIFICACAO, A.CONTA_CONTABIL, B.LX_GRUPO_CONTABIL, C.PORCENTAGEM, C.ID_GRUPO_CENTRO_CUSTO)
					END 
				ELSE 					
					BEGIN
						INSERT #CTB_CONTA_CONTABIL (EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, TIPO_MOVIMENTO, CLASSIFICACAO, CONTA_CONTABIL, CREDITO, DEBITO, SALDO_ANTERIOR)
						(SELECT 	CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA END,
									A.COD_FILIAL,
									A.COD_MATRIZ_CONTABIL,
									A.CENTRO_CUSTO,
									A.TIPO_MOVIMENTO,
									C.CLASSIFICACAO,
									A.CONTA_CONTABIL, 
									CREDITO			= SUM(ISNULL(A.CREDITO,0))*(C.PORCENTAGEM/100), 
									DEBITO			= SUM(ISNULL(A.DEBITO,0))*(C.PORCENTAGEM/100),
									SALDO_ANTERIOR	= CASE WHEN RTRIM(B.LX_GRUPO_CONTABIL) NOT IN ('D','R','F') THEN
																	ISNULL((SELECT SUM(SALDO)*(C.PORCENTAGEM/100) FROM CTB_BALANCETE_SALDO_ANTERIOR B
																	WHERE (EMPRESA					= (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA	END)	OR @EMPRESA = 0)	AND
																			COD_FILIAL				= A.COD_FILIAL					AND
																			COD_MATRIZ_CONTABIL	= A.COD_MATRIZ_CONTABIL		AND
																			CENTRO_CUSTO			= A.CENTRO_CUSTO				AND
																			B.TIPO_MOVIMENTO			= A.TIPO_MOVIMENTO			AND --#3#
																			DATA_SALDO				<	@DATA_INICIAL				AND
																			CONTA_CONTABIL			= A.CONTA_CONTABIL			AND
																			(ID_GRUPO_CENTRO_CUSTO = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL) AND
																			INDICA_ENCERRAMENTO = 0
																	GROUP BY CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE EMPRESA END, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, B.TIPO_MOVIMENTO, CONTA_CONTABIL
																	HAVING SUM(SALDO) <> 0),0)
																	
																ELSE
																	ISNULL((SELECT SUM(SALDO)*(C.PORCENTAGEM/100) FROM CTB_BALANCETE_SALDO_ANTERIOR B
																		WHERE (EMPRESA					   = (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA	END)		OR @EMPRESA = 0)		AND
																				COD_FILIAL				   = A.COD_FILIAL					AND
																				COD_MATRIZ_CONTABIL	   = A.COD_MATRIZ_CONTABIL		AND
																				CENTRO_CUSTO			   = A.CENTRO_CUSTO				AND
																				B.TIPO_MOVIMENTO			   = A.TIPO_MOVIMENTO			AND
																				DATA_SALDO				   <	@DATA_INICIAL	 		AND
																				CONTA_CONTABIL			   = A.CONTA_CONTABIL			AND
																				(ID_GRUPO_CENTRO_CUSTO  = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL) AND
																				INDICA_ENCERRAMENTO     = 0
																		GROUP BY CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE EMPRESA END, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, B.TIPO_MOVIMENTO, CONTA_CONTABIL
																		HAVING SUM(SALDO) <> 0),0)
																END
						FROM CTB_BALANCETE_SALDO_ANTERIOR A
								JOIN CTB_CONTA_PLANO B ON
									A.CONTA_CONTABIL = B.CONTA_CONTABIL
								JOIN CTB_PLANO_VISAO C ON
									C.CONTA_CONTABIL	= A.CONTA_CONTABIL	AND
									C.VISAO_CONTABIL	= @VISAO_CONTABIL
								JOIN CTB_VISAO	D ON
									C.VISAO_CONTABIL	= D.VISAO_CONTABIL		AND
									C.CLASSIFICACAO	= D.CLASSIFICACAO
								JOIN #FX_USERS_MATRIZ_CONTABIL E ON
									A.COD_MATRIZ_CONTABIL			= E.COD_MATRIZ_CONTABIL
								--#1#	
								LEFT JOIN CTB_CENTRO_CUSTO_USUARIO   ON 
									CTB_CENTRO_CUSTO_USUARIO.USUARIO = @USUARIO AND 
									(A.CENTRO_CUSTO = CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO OR CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO IS NULL) AND 
									(A.COD_FILIAL = CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL OR CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL IS NULL)
								JOIN CTB_MOVIMENTO_TIPO F ON
									F.TIPO_MOVIMENTO = A.TIPO_MOVIMENTO
						WHERE (A.EMPRESA					= @EMPRESA			OR @EMPRESA				= 0	)	AND
								(A.COD_FILIAL				= @COD_FILIAL		OR @COD_FILIAL 		IS NULL)	AND
								(A.COD_MATRIZ_CONTABIL	= @COD_MATRIZ_CONTABIL		OR @COD_MATRIZ_CONTABIL 		IS NULL)	AND
								(A.CENTRO_CUSTO			= @CENTRO_CUSTO	OR @CENTRO_CUSTO		IS NULL)	AND
								(A.TIPO_MOVIMENTO			= @TIPO_MOVIMENTO			OR (@TIPO_MOVIMENTO IS NULL AND F.LX_GRUPO_MOVIMENTO <> 'E')) AND  
								A.DATA_SALDO		 		>= @DATA_INICIAL						AND
								A.DATA_SALDO				<=	@DATA_FINAL 						AND
								A.INDICA_ENCERRAMENTO	= 0										AND
								(A.ID_GRUPO_CENTRO_CUSTO = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL)			AND
								ISNULL(D.LX_GRUPO_CONTABIL,'') 	<> 'N' AND 
								(ISNULL(@VALIDA_CC,0) = 0 OR CTB_CENTRO_CUSTO_USUARIO.USUARIO IS NOT NULL)
						GROUP BY (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA END), A.COD_FILIAL, A.COD_MATRIZ_CONTABIL, A.CENTRO_CUSTO, A.TIPO_MOVIMENTO, C.CLASSIFICACAO, A.CONTA_CONTABIL, B.LX_GRUPO_CONTABIL, C.PORCENTAGEM, C.ID_GRUPO_CENTRO_CUSTO)
					END	
			END	
	END	
ELSE
	BEGIN
		IF @MOV_SALDO_ANTERIOR = 0
			BEGIN
				IF @NAO_ZERAR_RECEITA_DESPESA = 0
					BEGIN
						INSERT #CTB_CONTA_CONTABIL (EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, TIPO_MOVIMENTO, CLASSIFICACAO, CONTA_CONTABIL, CREDITO, DEBITO, SALDO_ANTERIOR)
						(SELECT 	CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA END,
									A.COD_FILIAL_RATEIO,
									A.COD_MATRIZ_CONTABIL,
									A.CENTRO_CUSTO,
									A.TIPO_MOVIMENTO,
									C.CLASSIFICACAO, 
									A.CONTA_CONTABIL,
									CREDITO			= SUM(ISNULL(A.CREDITO,0))*(C.PORCENTAGEM/100), 
									DEBITO			= SUM(ISNULL(A.DEBITO,0))*(C.PORCENTAGEM/100),
										SALDO_ANTERIOR	= CASE WHEN RTRIM(B.LX_GRUPO_CONTABIL) NOT IN ('D','R','F') THEN
																	ISNULL((SELECT SUM(SALDO)*(C.PORCENTAGEM/100) FROM CTB_BALANCETE_SALDO_ANTERIOR B
																	WHERE (EMPRESA					= (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA	END)						OR @EMPRESA = 0) AND
																			COD_FILIAL				= A.COD_FILIAL_RATEIO		AND
																			COD_MATRIZ_CONTABIL	= A.COD_MATRIZ_CONTABIL			AND
																			CENTRO_CUSTO			= A.CENTRO_CUSTO			AND
																			B.TIPO_MOVIMENTO			= A.TIPO_MOVIMENTO			AND --#3#
				--															DATA_SALDO 				>= @DATA_INICIAL_VERSAO		AND
																			DATA_SALDO				<	@DATA_INICIAL			AND
																			CONTA_CONTABIL			= A.CONTA_CONTABIL			AND
																			(ID_GRUPO_CENTRO_CUSTO = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL)
																	GROUP BY CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE EMPRESA END, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, B.TIPO_MOVIMENTO, CONTA_CONTABIL
																	HAVING SUM(SALDO) <> 0),0)
																ELSE
																	ISNULL((SELECT SUM(SALDO)*(C.PORCENTAGEM/100) FROM CTB_BALANCETE_SALDO_ANTERIOR B
																		WHERE (EMPRESA					= (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA	END)						OR @EMPRESA = 0) AND
																				COD_FILIAL				= A.COD_FILIAL_RATEIO		AND
																				COD_MATRIZ_CONTABIL	= A.COD_MATRIZ_CONTABIL			AND
																				CENTRO_CUSTO			= A.CENTRO_CUSTO			AND
																				B.TIPO_MOVIMENTO			= A.TIPO_MOVIMENTO			AND
																				DATA_SALDO >= CAST(YEAR(@DATA_INICIAL) AS VARCHAR(4)) + '0101' AND
																				--DATA_SALDO 				>= CAST(YEAR(@DATA_INICIAL)	AS VARCHAR(4))+'0101'	AND
																				DATA_SALDO				<	@DATA_INICIAL	 		AND
																				CONTA_CONTABIL			= A.CONTA_CONTABIL			AND
																				(ID_GRUPO_CENTRO_CUSTO = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL)
																		GROUP BY CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE EMPRESA END, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, B.TIPO_MOVIMENTO, CONTA_CONTABIL
																		HAVING SUM(SALDO) <> 0),0)
																END
						FROM W_CTB_LANCAMENTO_ITEM_ABERTO A
								JOIN CTB_CONTA_PLANO B ON
									A.CONTA_CONTABIL = B.CONTA_CONTABIL
								JOIN CTB_PLANO_VISAO C ON
									C.CONTA_CONTABIL	= A.CONTA_CONTABIL	AND
									C.VISAO_CONTABIL	= @VISAO_CONTABIL
								JOIN CTB_VISAO	D ON
									C.VISAO_CONTABIL	= D.VISAO_CONTABIL		AND
									C.CLASSIFICACAO	= D.CLASSIFICACAO
								JOIN #FX_USERS_MATRIZ_CONTABIL E ON
									A.COD_MATRIZ_CONTABIL			= E.COD_MATRIZ_CONTABIL
								--#1#
								LEFT JOIN CTB_CENTRO_CUSTO_USUARIO   ON 
									CTB_CENTRO_CUSTO_USUARIO.USUARIO = @USUARIO AND 
									(A.CENTRO_CUSTO = CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO OR CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO IS NULL) AND 
									(A.COD_FILIAL_RATEIO = CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL OR CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL IS NULL)								
						WHERE (A.EMPRESA					= @EMPRESA					OR @EMPRESA						= 0	)		AND
								(A.COD_FILIAL_RATEIO		= @COD_FILIAL				OR @COD_FILIAL 					IS NULL)	AND
								(A.COD_MATRIZ_CONTABIL		= @COD_MATRIZ_CONTABIL		OR @COD_MATRIZ_CONTABIL 		IS NULL)	AND
								(A.CENTRO_CUSTO				= @CENTRO_CUSTO				OR @CENTRO_CUSTO				IS NULL)	AND
								(A.TIPO_MOVIMENTO			= @TIPO_MOVIMENTO			OR (@TIPO_MOVIMENTO IS NULL AND A.LX_GRUPO_MOVIMENTO <> 'E')) AND  
								A.DATA_LANCAMENTO 			>= @DATA_INICIAL	AND
								A.DATA_LANCAMENTO			<=	@DATA_FINAL		AND
								(A.ID_GRUPO_CENTRO_CUSTO = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL)			AND
								ISNULL(D.LX_GRUPO_CONTABIL,'') 	<> 'N' AND 
								(ISNULL(@VALIDA_CC,0) = 0 OR CTB_CENTRO_CUSTO_USUARIO.USUARIO IS NOT NULL)
						GROUP BY (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA END), A.COD_FILIAL_RATEIO, A.COD_MATRIZ_CONTABIL, A.CENTRO_CUSTO, A.TIPO_MOVIMENTO, C.CLASSIFICACAO, A.CONTA_CONTABIL, B.LX_GRUPO_CONTABIL, C.PORCENTAGEM, C.ID_GRUPO_CENTRO_CUSTO)
					END
				ELSE
					BEGIN
						INSERT #CTB_CONTA_CONTABIL (EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, TIPO_MOVIMENTO, CLASSIFICACAO, CONTA_CONTABIL, CREDITO, DEBITO, SALDO_ANTERIOR)
						(SELECT 	CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA END,
									A.COD_FILIAL_RATEIO,
									A.COD_MATRIZ_CONTABIL,
									A.CENTRO_CUSTO,
									A.TIPO_MOVIMENTO,
									C.CLASSIFICACAO, 
									A.CONTA_CONTABIL,
									CREDITO			= SUM(ISNULL(A.CREDITO,0))*(C.PORCENTAGEM/100), 
									DEBITO			= SUM(ISNULL(A.DEBITO,0))*(C.PORCENTAGEM/100),
										SALDO_ANTERIOR	= CASE WHEN RTRIM(B.LX_GRUPO_CONTABIL) NOT IN ('D','R','F') THEN
																	ISNULL((SELECT SUM(SALDO)*(C.PORCENTAGEM/100) FROM CTB_BALANCETE_SALDO_ANTERIOR B
																	WHERE (EMPRESA					= (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA	END)						OR @EMPRESA = 0) AND
																			COD_FILIAL				= A.COD_FILIAL_RATEIO		AND
																			COD_MATRIZ_CONTABIL	= A.COD_MATRIZ_CONTABIL			AND
																			CENTRO_CUSTO			= A.CENTRO_CUSTO			AND
																			B.TIPO_MOVIMENTO			= A.TIPO_MOVIMENTO			AND --#3#
				--															DATA_SALDO 				>= @DATA_INICIAL_VERSAO		AND
																			DATA_SALDO				<	@DATA_INICIAL			AND
																			CONTA_CONTABIL			= A.CONTA_CONTABIL			AND
																			(ID_GRUPO_CENTRO_CUSTO = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL)
																	GROUP BY CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE EMPRESA END, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, B.TIPO_MOVIMENTO, CONTA_CONTABIL
																	HAVING SUM(SALDO) <> 0),0)
																ELSE
																	ISNULL((SELECT SUM(SALDO)*(C.PORCENTAGEM/100) FROM CTB_BALANCETE_SALDO_ANTERIOR B
																		WHERE (EMPRESA					= (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA	END)						OR @EMPRESA = 0) AND
																				COD_FILIAL				= A.COD_FILIAL_RATEIO		AND
																				COD_MATRIZ_CONTABIL	= A.COD_MATRIZ_CONTABIL			AND
																				CENTRO_CUSTO			= A.CENTRO_CUSTO			AND
																				B.TIPO_MOVIMENTO			= A.TIPO_MOVIMENTO			AND	--#3#
																				DATA_SALDO				<	@DATA_INICIAL	 		AND
																				CONTA_CONTABIL			= A.CONTA_CONTABIL			AND
																				(ID_GRUPO_CENTRO_CUSTO = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL)
																		GROUP BY CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE EMPRESA END, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, B.TIPO_MOVIMENTO, CONTA_CONTABIL
																		HAVING SUM(SALDO) <> 0),0)
																END
						FROM W_CTB_LANCAMENTO_ITEM_ABERTO A
								JOIN CTB_CONTA_PLANO B ON
									A.CONTA_CONTABIL = B.CONTA_CONTABIL
								JOIN CTB_PLANO_VISAO C ON
									C.CONTA_CONTABIL	= A.CONTA_CONTABIL	AND
									C.VISAO_CONTABIL	= @VISAO_CONTABIL
								JOIN CTB_VISAO	D ON
									C.VISAO_CONTABIL	= D.VISAO_CONTABIL		AND
									C.CLASSIFICACAO	= D.CLASSIFICACAO
								JOIN #FX_USERS_MATRIZ_CONTABIL E ON
									A.COD_MATRIZ_CONTABIL			= E.COD_MATRIZ_CONTABIL
								--#1#	
								LEFT JOIN CTB_CENTRO_CUSTO_USUARIO   ON 
									CTB_CENTRO_CUSTO_USUARIO.USUARIO = @USUARIO AND 
									(A.CENTRO_CUSTO = CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO OR CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO IS NULL) AND 
									(A.COD_FILIAL_RATEIO = CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL OR CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL IS NULL)
						WHERE (A.EMPRESA					= @EMPRESA					OR @EMPRESA						= 0	)		AND
								(A.COD_FILIAL_RATEIO		= @COD_FILIAL				OR @COD_FILIAL 					IS NULL)	AND
								(A.COD_MATRIZ_CONTABIL		= @COD_MATRIZ_CONTABIL		OR @COD_MATRIZ_CONTABIL 		IS NULL)	AND
								(A.CENTRO_CUSTO				= @CENTRO_CUSTO				OR @CENTRO_CUSTO				IS NULL)	AND
								(A.TIPO_MOVIMENTO			= @TIPO_MOVIMENTO			OR (@TIPO_MOVIMENTO IS NULL AND A.LX_GRUPO_MOVIMENTO <> 'E')) AND 
								A.DATA_LANCAMENTO 			>= @DATA_INICIAL	AND
								A.DATA_LANCAMENTO			<=	@DATA_FINAL		AND
								(A.ID_GRUPO_CENTRO_CUSTO = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL)			AND
								ISNULL(D.LX_GRUPO_CONTABIL,'') 	<> 'N' AND 
								(ISNULL(@VALIDA_CC,0) = 0 OR CTB_CENTRO_CUSTO_USUARIO.USUARIO IS NOT NULL)
						GROUP BY (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA END), A.COD_FILIAL_RATEIO, A.COD_MATRIZ_CONTABIL, A.CENTRO_CUSTO, A.TIPO_MOVIMENTO, C.CLASSIFICACAO, A.CONTA_CONTABIL, B.LX_GRUPO_CONTABIL, C.PORCENTAGEM, C.ID_GRUPO_CENTRO_CUSTO)
					END
			END
		ELSE
			BEGIN
				IF @NAO_ZERAR_RECEITA_DESPESA = 0
					BEGIN
						INSERT #CTB_CONTA_CONTABIL (EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, TIPO_MOVIMENTO, CLASSIFICACAO, CONTA_CONTABIL, CREDITO, DEBITO, SALDO_ANTERIOR)
						(SELECT 	CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA END,
									A.COD_FILIAL,
									A.COD_MATRIZ_CONTABIL,
									A.CENTRO_CUSTO,
									A.TIPO_MOVIMENTO,
									C.CLASSIFICACAO,
									A.CONTA_CONTABIL, 
									CREDITO			= SUM(ISNULL(A.CREDITO,0))*(C.PORCENTAGEM/100), 
									DEBITO			= SUM(ISNULL(A.DEBITO,0))*(C.PORCENTAGEM/100),
										SALDO_ANTERIOR	= CASE WHEN RTRIM(B.LX_GRUPO_CONTABIL) NOT IN ('D','R','F') THEN
																	ISNULL((SELECT SUM(SALDO)*(C.PORCENTAGEM/100) FROM CTB_BALANCETE_SALDO_ANTERIOR B
																	WHERE (EMPRESA					= (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA	END)	OR @EMPRESA = 0)	AND
																			COD_FILIAL				= A.COD_FILIAL					AND
																			COD_MATRIZ_CONTABIL	= A.COD_MATRIZ_CONTABIL		AND
																			CENTRO_CUSTO			= A.CENTRO_CUSTO				AND
																			B.TIPO_MOVIMENTO			= A.TIPO_MOVIMENTO			AND --#3#
																			DATA_SALDO				<	@DATA_INICIAL				AND
																			CONTA_CONTABIL			= A.CONTA_CONTABIL			AND
																			(ID_GRUPO_CENTRO_CUSTO = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL) AND
																			INDICA_ENCERRAMENTO = 0
																	GROUP BY CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE EMPRESA END, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, B.TIPO_MOVIMENTO, CONTA_CONTABIL
																	HAVING SUM(SALDO) <> 0),0)
																	
																ELSE
																	ISNULL((SELECT SUM(SALDO)*(C.PORCENTAGEM/100) FROM CTB_BALANCETE_SALDO_ANTERIOR B 
																		WHERE (EMPRESA					   = (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA	END)		OR @EMPRESA = 0)		AND
																				COD_FILIAL				   = A.COD_FILIAL					AND
																				COD_MATRIZ_CONTABIL	   = A.COD_MATRIZ_CONTABIL		AND
																				CENTRO_CUSTO			   = A.CENTRO_CUSTO				AND
																				B.TIPO_MOVIMENTO			   = A.TIPO_MOVIMENTO			AND --#3#
																				DATA_SALDO >= CAST(YEAR(@DATA_INICIAL) AS VARCHAR(4)) + '0101' AND
																				--DATA_SALDO 				   >= CAST(YEAR(@DATA_INICIAL)	AS VARCHAR(4))+'0101'	AND
																				DATA_SALDO				   <	@DATA_INICIAL	 			AND
																				CONTA_CONTABIL			   = A.CONTA_CONTABIL			AND
																				(ID_GRUPO_CENTRO_CUSTO  = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL) AND
																				INDICA_ENCERRAMENTO     = 0
																		GROUP BY CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE EMPRESA END, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, B.TIPO_MOVIMENTO, CONTA_CONTABIL
																		HAVING SUM(SALDO) <> 0),0)
																END
						FROM CTB_BALANCETE_SALDO_ANTERIOR A
								JOIN CTB_CONTA_PLANO B ON
									A.CONTA_CONTABIL = B.CONTA_CONTABIL
								JOIN CTB_PLANO_VISAO C ON
									C.CONTA_CONTABIL	= A.CONTA_CONTABIL	AND
									C.VISAO_CONTABIL	= @VISAO_CONTABIL
								JOIN CTB_VISAO	D ON
									C.VISAO_CONTABIL	= D.VISAO_CONTABIL		AND
									C.CLASSIFICACAO	= D.CLASSIFICACAO
								JOIN #FX_USERS_MATRIZ_CONTABIL E ON
									A.COD_MATRIZ_CONTABIL			= E.COD_MATRIZ_CONTABIL
								--#1#
								LEFT JOIN CTB_CENTRO_CUSTO_USUARIO   ON 
									CTB_CENTRO_CUSTO_USUARIO.USUARIO = @USUARIO AND 
									(A.CENTRO_CUSTO = CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO OR CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO IS NULL) AND 
									(A.COD_FILIAL = CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL OR CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL IS NULL)
								JOIN CTB_MOVIMENTO_TIPO F ON
									F.TIPO_MOVIMENTO = A.TIPO_MOVIMENTO
						WHERE (A.EMPRESA					= @EMPRESA			OR @EMPRESA				= 0	)	AND
								(A.COD_FILIAL				= @COD_FILIAL		OR @COD_FILIAL 		IS NULL)	AND
								(A.COD_MATRIZ_CONTABIL	= @COD_MATRIZ_CONTABIL		OR @COD_MATRIZ_CONTABIL 		IS NULL)	AND
								(A.CENTRO_CUSTO			= @CENTRO_CUSTO	OR @CENTRO_CUSTO		IS NULL)	AND
								(A.TIPO_MOVIMENTO			= @TIPO_MOVIMENTO			OR (@TIPO_MOVIMENTO IS NULL AND F.LX_GRUPO_MOVIMENTO <> 'E')) AND 
								A.DATA_SALDO		 		>= @DATA_INICIAL						AND
								A.DATA_SALDO				<=	@DATA_FINAL 						AND
								(A.ID_GRUPO_CENTRO_CUSTO = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL)			AND
								ISNULL(D.LX_GRUPO_CONTABIL,'') 	<> 'N' AND 
								(ISNULL(@VALIDA_CC,0) = 0 OR CTB_CENTRO_CUSTO_USUARIO.USUARIO IS NOT NULL)
						GROUP BY (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA END), A.COD_FILIAL, A.COD_MATRIZ_CONTABIL, A.CENTRO_CUSTO, A.TIPO_MOVIMENTO, C.CLASSIFICACAO, A.CONTA_CONTABIL, B.LX_GRUPO_CONTABIL, C.PORCENTAGEM, C.ID_GRUPO_CENTRO_CUSTO)
					END
				ELSE
					BEGIN
						INSERT #CTB_CONTA_CONTABIL (EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, TIPO_MOVIMENTO, CLASSIFICACAO, CONTA_CONTABIL, CREDITO, DEBITO, SALDO_ANTERIOR)
						(SELECT 	CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA END,
									A.COD_FILIAL,
									A.COD_MATRIZ_CONTABIL,
									A.CENTRO_CUSTO,
									A.TIPO_MOVIMENTO,
									C.CLASSIFICACAO,
									A.CONTA_CONTABIL, 
									CREDITO			= SUM(ISNULL(A.CREDITO,0))*(C.PORCENTAGEM/100), 
									DEBITO			= SUM(ISNULL(A.DEBITO,0))*(C.PORCENTAGEM/100),
										SALDO_ANTERIOR	= CASE WHEN RTRIM(B.LX_GRUPO_CONTABIL) NOT IN ('D','R','F') THEN
																	ISNULL((SELECT SUM(SALDO)*(C.PORCENTAGEM/100) FROM CTB_BALANCETE_SALDO_ANTERIOR B
																	WHERE (EMPRESA					= (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA	END)	OR @EMPRESA = 0)	AND
																			COD_FILIAL				= A.COD_FILIAL					AND
																			COD_MATRIZ_CONTABIL	= A.COD_MATRIZ_CONTABIL		AND
																			CENTRO_CUSTO			= A.CENTRO_CUSTO				AND
																			B.TIPO_MOVIMENTO			= A.TIPO_MOVIMENTO			AND --#3#
																			DATA_SALDO				<	@DATA_INICIAL				AND
																			CONTA_CONTABIL			= A.CONTA_CONTABIL			AND
																			(ID_GRUPO_CENTRO_CUSTO = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL) AND
																			INDICA_ENCERRAMENTO = 0
																	GROUP BY CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE EMPRESA END, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, B.TIPO_MOVIMENTO, CONTA_CONTABIL
																	HAVING SUM(SALDO) <> 0),0)
																	
																ELSE
																	ISNULL((SELECT SUM(SALDO)*(C.PORCENTAGEM/100) FROM CTB_BALANCETE_SALDO_ANTERIOR 
																		WHERE (EMPRESA					   = (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA	END)		OR @EMPRESA = 0)		AND
																				COD_FILIAL				   = A.COD_FILIAL				AND
																				COD_MATRIZ_CONTABIL		   = A.COD_MATRIZ_CONTABIL		AND
																				CENTRO_CUSTO			   = A.CENTRO_CUSTO				AND
																				B.TIPO_MOVIMENTO			   = A.TIPO_MOVIMENTO			AND --#3#
																				DATA_SALDO				   <	@DATA_INICIAL	 		AND
																				CONTA_CONTABIL			   = A.CONTA_CONTABIL			AND
																				(ID_GRUPO_CENTRO_CUSTO  = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL) AND
																				INDICA_ENCERRAMENTO     = 0
																		GROUP BY CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE EMPRESA END, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, B.TIPO_MOVIMENTO, CONTA_CONTABIL
																		HAVING SUM(SALDO) <> 0),0)
																END
						FROM CTB_BALANCETE_SALDO_ANTERIOR A
								JOIN CTB_CONTA_PLANO B ON
									A.CONTA_CONTABIL = B.CONTA_CONTABIL
								JOIN CTB_PLANO_VISAO C ON
									C.CONTA_CONTABIL	= A.CONTA_CONTABIL	AND
									C.VISAO_CONTABIL	= @VISAO_CONTABIL
								JOIN CTB_VISAO	D ON
									C.VISAO_CONTABIL	= D.VISAO_CONTABIL		AND
									C.CLASSIFICACAO	= D.CLASSIFICACAO
								JOIN #FX_USERS_MATRIZ_CONTABIL E ON
									A.COD_MATRIZ_CONTABIL			= E.COD_MATRIZ_CONTABIL
								--#1#
								LEFT JOIN CTB_CENTRO_CUSTO_USUARIO   ON 
									CTB_CENTRO_CUSTO_USUARIO.USUARIO = @USUARIO AND 
									(A.CENTRO_CUSTO = CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO OR CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO IS NULL) AND 
									(A.COD_FILIAL = CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL OR CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL IS NULL)
								JOIN CTB_MOVIMENTO_TIPO F ON
									F.TIPO_MOVIMENTO = A.TIPO_MOVIMENTO
						WHERE (A.EMPRESA					= @EMPRESA			OR @EMPRESA				= 0	)	AND
								(A.COD_FILIAL				= @COD_FILIAL		OR @COD_FILIAL 		IS NULL)	AND
								(A.COD_MATRIZ_CONTABIL	= @COD_MATRIZ_CONTABIL		OR @COD_MATRIZ_CONTABIL 		IS NULL)	AND
								(A.CENTRO_CUSTO			= @CENTRO_CUSTO	OR @CENTRO_CUSTO		IS NULL)	AND
								(A.TIPO_MOVIMENTO			= @TIPO_MOVIMENTO			OR (@TIPO_MOVIMENTO IS NULL AND F.LX_GRUPO_MOVIMENTO <> 'E')) AND 
								A.DATA_SALDO		 		>= @DATA_INICIAL						AND
								A.DATA_SALDO				<=	@DATA_FINAL 						AND
								(A.ID_GRUPO_CENTRO_CUSTO = C.ID_GRUPO_CENTRO_CUSTO OR C.ID_GRUPO_CENTRO_CUSTO IS NULL)			AND
								ISNULL(D.LX_GRUPO_CONTABIL,'') 	<> 'N' AND 
								(ISNULL(@VALIDA_CC,0) = 0 OR CTB_CENTRO_CUSTO_USUARIO.USUARIO IS NOT NULL)
						GROUP BY (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE A.EMPRESA END), A.COD_FILIAL, A.COD_MATRIZ_CONTABIL, A.CENTRO_CUSTO, A.TIPO_MOVIMENTO, C.CLASSIFICACAO, A.CONTA_CONTABIL, B.LX_GRUPO_CONTABIL, C.PORCENTAGEM, C.ID_GRUPO_CENTRO_CUSTO)
					END
			END
	END


-- CONTAS SEM MOVIMENTO

-- INSERT DAS CONTAS SEM MOVIMENTO DE ATIVO E PASSIVO
IF @VER_ENCERRAMENTO = 0
	BEGIN
      INSERT #CTB_CONTA_CONTABIL (EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, TIPO_MOVIMENTO, CLASSIFICACAO, CONTA_CONTABIL, CREDITO, DEBITO, SALDO_ANTERIOR)
      (SELECT 	(CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE C.EMPRESA END), C.COD_FILIAL, C.COD_MATRIZ_CONTABIL, C.CENTRO_CUSTO, C.TIPO_MOVIMENTO, A.CLASSIFICACAO, A.CONTA_CONTABIL, 
			      CREDITO			= 0, 
			      DEBITO			= 0,
			      SALDO_ANTERIOR	= 	ISNULL(SUM(SALDO_ATIVOPASSIVO),0)*(A.PORCENTAGEM/100)
      FROM CTB_PLANO_VISAO	A
		      JOIN CTB_CONTA_PLANO B ON
			      A.CONTA_CONTABIL = B.CONTA_CONTABIL
		      JOIN (SELECT	A.EMPRESA, A.COD_FILIAL, A.COD_MATRIZ_CONTABIL, A.CENTRO_CUSTO, A.TIPO_MOVIMENTO, A.CONTA_CONTABIL, A.ID_GRUPO_CENTRO_CUSTO, 
							SUM(SALDO) AS SALDO_ATIVOPASSIVO, B.LX_GRUPO_MOVIMENTO
					      FROM CTB_BALANCETE_SALDO_ANTERIOR A
								--#1#
								LEFT JOIN CTB_CENTRO_CUSTO_USUARIO   ON 
									CTB_CENTRO_CUSTO_USUARIO.USUARIO = @USUARIO AND 
									(A.CENTRO_CUSTO = CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO OR CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO IS NULL) AND 
									(A.COD_FILIAL = CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL OR CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL IS NULL)
								JOIN CTB_MOVIMENTO_TIPO B ON
									B.TIPO_MOVIMENTO = A.TIPO_MOVIMENTO
					      WHERE DATA_SALDO				<	@DATA_INICIAL	AND INDICA_ENCERRAMENTO = 0 AND 
								(ISNULL(@VALIDA_CC,0) = 0 OR CTB_CENTRO_CUSTO_USUARIO.USUARIO IS NOT NULL)
					      GROUP BY A.EMPRESA, A.COD_FILIAL, A.COD_MATRIZ_CONTABIL, A.CENTRO_CUSTO, A.TIPO_MOVIMENTO , A.CONTA_CONTABIL, A.ID_GRUPO_CENTRO_CUSTO, B.LX_GRUPO_MOVIMENTO
					      HAVING SUM(SALDO) <> 0 ) C ON 
				      (C.EMPRESA					= @EMPRESA			OR @EMPRESA				= 0	)							AND
				      (C.COD_FILIAL				= @COD_FILIAL		OR @COD_FILIAL 		IS NULL)							AND
				      (C.COD_MATRIZ_CONTABIL	= @COD_MATRIZ_CONTABIL		OR @COD_MATRIZ_CONTABIL 		IS NULL)	AND
				      (C.CENTRO_CUSTO			= @CENTRO_CUSTO	OR @CENTRO_CUSTO		IS NULL)							AND
				      (C.TIPO_MOVIMENTO			= @TIPO_MOVIMENTO			OR (@TIPO_MOVIMENTO IS NULL AND C.LX_GRUPO_MOVIMENTO <> 'E')) AND 
				      C.CONTA_CONTABIL			= A.CONTA_CONTABIL	AND
				      (C.ID_GRUPO_CENTRO_CUSTO = A.ID_GRUPO_CENTRO_CUSTO OR A.ID_GRUPO_CENTRO_CUSTO IS NULL)	
		      JOIN CTB_VISAO	D ON
			      A.VISAO_CONTABIL	= D.VISAO_CONTABIL		AND
			      A.CLASSIFICACAO	= D.CLASSIFICACAO
				JOIN #FX_USERS_MATRIZ_CONTABIL E ON
					C.COD_MATRIZ_CONTABIL			= E.COD_MATRIZ_CONTABIL
      WHERE A.VISAO_CONTABIL	= @VISAO_CONTABIL	AND
		      RTRIM(B.LX_GRUPO_CONTABIL) NOT IN ('D','R','F') AND
		      NOT EXISTS (SELECT *  
							      FROM #CTB_CONTA_CONTABIL Z
							      WHERE C.EMPRESA					= Z.EMPRESA 			AND
									      C.COD_FILIAL				= Z.COD_FILIAL 			AND
									      C.COD_MATRIZ_CONTABIL		= Z.COD_MATRIZ_CONTABIL	AND
									      C.CENTRO_CUSTO			= Z.CENTRO_CUSTO		AND
									      C.TIPO_MOVIMENTO			= Z.TIPO_MOVIMENTO		AND
									      A.CONTA_CONTABIL 			= Z.CONTA_CONTABIL 		AND
									      A.CLASSIFICACAO			= Z.CLASSIFICACAO)		AND
		      ISNULL(D.LX_GRUPO_CONTABIL,'') 	<> 'N'
      GROUP BY (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE C.EMPRESA END), C.COD_FILIAL, C.COD_MATRIZ_CONTABIL, C.CENTRO_CUSTO, C.TIPO_MOVIMENTO, A.CLASSIFICACAO, A.CONTA_CONTABIL, B.LX_GRUPO_CONTABIL, A.PORCENTAGEM
      )


      -- INSERT DAS CONTAS SEM MOVIMENTO DE DESPESA E RECEITA
      IF @NAO_ZERAR_RECEITA_DESPESA = 0
		BEGIN
			INSERT #CTB_CONTA_CONTABIL (EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, TIPO_MOVIMENTO, C.CLASSIFICACAO, CONTA_CONTABIL, CREDITO, DEBITO, SALDO_ANTERIOR)
			(SELECT (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE C.EMPRESA END), C.COD_FILIAL, C.COD_MATRIZ_CONTABIL, C.CENTRO_CUSTO, C.TIPO_MOVIMENTO, A.CLASSIFICACAO, A.CONTA_CONTABIL, 
					CREDITO			= 0, 
					DEBITO			= 0,
					SALDO_ANTERIOR	= ISNULL(SUM(SALDO_RECEITADESPESA),0)*(A.PORCENTAGEM/100)
			FROM CTB_PLANO_VISAO	A
			JOIN CTB_CONTA_PLANO B ON
				A.CONTA_CONTABIL = B.CONTA_CONTABIL
			JOIN (SELECT EMPRESA, CTB_BALANCETE_SALDO_ANTERIOR.COD_FILIAL, COD_MATRIZ_CONTABIL, CTB_BALANCETE_SALDO_ANTERIOR.CENTRO_CUSTO, 
						CTB_BALANCETE_SALDO_ANTERIOR.TIPO_MOVIMENTO, CONTA_CONTABIL, ID_GRUPO_CENTRO_CUSTO, SUM(SALDO)  AS SALDO_RECEITADESPESA, B.LX_GRUPO_MOVIMENTO
					FROM CTB_BALANCETE_SALDO_ANTERIOR 
							--#1#
							LEFT JOIN CTB_CENTRO_CUSTO_USUARIO   ON 
								CTB_CENTRO_CUSTO_USUARIO.USUARIO = @USUARIO AND 
								(CTB_BALANCETE_SALDO_ANTERIOR.CENTRO_CUSTO = CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO OR CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO IS NULL) AND 
								(CTB_BALANCETE_SALDO_ANTERIOR.COD_FILIAL = CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL OR CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL IS NULL)
							JOIN CTB_MOVIMENTO_TIPO B ON
								B.TIPO_MOVIMENTO = CTB_BALANCETE_SALDO_ANTERIOR.TIPO_MOVIMENTO
					WHERE	--DATA_SALDO 				>= CAST(YEAR(@DATA_INICIAL)	AS VARCHAR(4))+'0101'	AND
							DATA_SALDO >= CAST(YEAR(@DATA_INICIAL) AS VARCHAR(4)) + '0101' AND
							DATA_SALDO				<	@DATA_INICIAL	AND INDICA_ENCERRAMENTO = 0 AND 
							(ISNULL(@VALIDA_CC,0) = 0 OR CTB_CENTRO_CUSTO_USUARIO.USUARIO IS NOT NULL)
					GROUP BY EMPRESA, CTB_BALANCETE_SALDO_ANTERIOR.COD_FILIAL, COD_MATRIZ_CONTABIL, CTB_BALANCETE_SALDO_ANTERIOR.CENTRO_CUSTO, CTB_BALANCETE_SALDO_ANTERIOR.TIPO_MOVIMENTO, CONTA_CONTABIL, ID_GRUPO_CENTRO_CUSTO, B.LX_GRUPO_MOVIMENTO
					HAVING SUM(SALDO) <> 0) C ON 
				(C.EMPRESA					= @EMPRESA			OR @EMPRESA				= 0	)							AND
				(C.COD_FILIAL				= @COD_FILIAL		OR @COD_FILIAL 		IS NULL)							AND
				(C.COD_MATRIZ_CONTABIL	= @COD_MATRIZ_CONTABIL		OR @COD_MATRIZ_CONTABIL 		IS NULL)	AND
				(C.CENTRO_CUSTO			= @CENTRO_CUSTO	OR @CENTRO_CUSTO		IS NULL)							AND
				(C.TIPO_MOVIMENTO			= @TIPO_MOVIMENTO			OR (@TIPO_MOVIMENTO IS NULL AND C.LX_GRUPO_MOVIMENTO <> 'E')) AND 
				C.CONTA_CONTABIL			= A.CONTA_CONTABIL AND
				(C.ID_GRUPO_CENTRO_CUSTO = A.ID_GRUPO_CENTRO_CUSTO OR A.ID_GRUPO_CENTRO_CUSTO IS NULL)	
			JOIN CTB_VISAO	D ON
				A.VISAO_CONTABIL	= D.VISAO_CONTABIL		AND
				A.CLASSIFICACAO	= D.CLASSIFICACAO
			JOIN #FX_USERS_MATRIZ_CONTABIL E ON
				C.COD_MATRIZ_CONTABIL			= E.COD_MATRIZ_CONTABIL
			WHERE	A.VISAO_CONTABIL	= @VISAO_CONTABIL	AND
					RTRIM(B.LX_GRUPO_CONTABIL) IN ('D','R','F') AND
			NOT EXISTS (SELECT *  
						FROM #CTB_CONTA_CONTABIL Z
						WHERE C.EMPRESA					= Z.EMPRESA 			AND
							C.COD_FILIAL				= Z.COD_FILIAL 			AND
							C.COD_MATRIZ_CONTABIL		= Z.COD_MATRIZ_CONTABIL	AND
							C.CENTRO_CUSTO				= Z.CENTRO_CUSTO		AND
							C.TIPO_MOVIMENTO			= Z.TIPO_MOVIMENTO		AND
							A.CONTA_CONTABIL 			= Z.CONTA_CONTABIL 		AND
							A.CLASSIFICACAO				= Z.CLASSIFICACAO)		AND
							ISNULL(D.LX_GRUPO_CONTABIL,'') 	<> 'N'
						GROUP BY (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE C.EMPRESA END), C.COD_FILIAL, C.COD_MATRIZ_CONTABIL, C.CENTRO_CUSTO, C.TIPO_MOVIMENTO, A.CLASSIFICACAO, A.CONTA_CONTABIL, B.LX_GRUPO_CONTABIL, A.PORCENTAGEM
			)
		END
	ELSE
		BEGIN
			INSERT #CTB_CONTA_CONTABIL (EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, TIPO_MOVIMENTO, C.CLASSIFICACAO, CONTA_CONTABIL, CREDITO, DEBITO, SALDO_ANTERIOR)
			(SELECT (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE C.EMPRESA END), C.COD_FILIAL, C.COD_MATRIZ_CONTABIL, C.CENTRO_CUSTO, C.TIPO_MOVIMENTO, A.CLASSIFICACAO, A.CONTA_CONTABIL, 
					CREDITO			= 0, 
					DEBITO			= 0,
					SALDO_ANTERIOR	= ISNULL(SUM(SALDO_RECEITADESPESA),0)*(A.PORCENTAGEM/100)
			FROM CTB_PLANO_VISAO	A
			JOIN CTB_CONTA_PLANO B ON
				A.CONTA_CONTABIL = B.CONTA_CONTABIL
			JOIN (SELECT EMPRESA, CTB_BALANCETE_SALDO_ANTERIOR.COD_FILIAL, COD_MATRIZ_CONTABIL, CTB_BALANCETE_SALDO_ANTERIOR.CENTRO_CUSTO, CTB_BALANCETE_SALDO_ANTERIOR.TIPO_MOVIMENTO, 
						CONTA_CONTABIL, ID_GRUPO_CENTRO_CUSTO, SUM(SALDO)  AS SALDO_RECEITADESPESA, B.LX_GRUPO_MOVIMENTO
					FROM CTB_BALANCETE_SALDO_ANTERIOR 
							--#1#
							LEFT JOIN CTB_CENTRO_CUSTO_USUARIO   ON 
								CTB_CENTRO_CUSTO_USUARIO.USUARIO = @USUARIO AND 
								(CTB_BALANCETE_SALDO_ANTERIOR.CENTRO_CUSTO = CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO OR CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO IS NULL) AND 
								(CTB_BALANCETE_SALDO_ANTERIOR.COD_FILIAL = CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL OR CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL IS NULL)
							JOIN CTB_MOVIMENTO_TIPO B ON
									B.TIPO_MOVIMENTO = CTB_BALANCETE_SALDO_ANTERIOR.TIPO_MOVIMENTO
					WHERE	DATA_SALDO				<	@DATA_INICIAL	AND INDICA_ENCERRAMENTO = 0 AND 
							(ISNULL(@VALIDA_CC,0) = 0 OR CTB_CENTRO_CUSTO_USUARIO.USUARIO IS NOT NULL)
					GROUP BY EMPRESA, CTB_BALANCETE_SALDO_ANTERIOR.COD_FILIAL, COD_MATRIZ_CONTABIL, CTB_BALANCETE_SALDO_ANTERIOR.CENTRO_CUSTO, CTB_BALANCETE_SALDO_ANTERIOR.TIPO_MOVIMENTO, CONTA_CONTABIL, ID_GRUPO_CENTRO_CUSTO, B.LX_GRUPO_MOVIMENTO 
					HAVING SUM(SALDO) <> 0) C ON 
				(C.EMPRESA					= @EMPRESA			OR @EMPRESA				= 0	)							AND
				(C.COD_FILIAL				= @COD_FILIAL		OR @COD_FILIAL 		IS NULL)							AND
				(C.COD_MATRIZ_CONTABIL	= @COD_MATRIZ_CONTABIL		OR @COD_MATRIZ_CONTABIL 		IS NULL)	AND
				(C.CENTRO_CUSTO			= @CENTRO_CUSTO	OR @CENTRO_CUSTO		IS NULL)							AND
				(C.TIPO_MOVIMENTO			= @TIPO_MOVIMENTO			OR (@TIPO_MOVIMENTO IS NULL AND C.LX_GRUPO_MOVIMENTO <> 'E')) AND 
				C.CONTA_CONTABIL			= A.CONTA_CONTABIL AND
				(C.ID_GRUPO_CENTRO_CUSTO = A.ID_GRUPO_CENTRO_CUSTO OR A.ID_GRUPO_CENTRO_CUSTO IS NULL)	
			JOIN CTB_VISAO	D ON
				A.VISAO_CONTABIL	= D.VISAO_CONTABIL		AND
				A.CLASSIFICACAO	= D.CLASSIFICACAO
			JOIN #FX_USERS_MATRIZ_CONTABIL E ON
				C.COD_MATRIZ_CONTABIL			= E.COD_MATRIZ_CONTABIL
			WHERE	A.VISAO_CONTABIL	= @VISAO_CONTABIL	AND
					RTRIM(B.LX_GRUPO_CONTABIL) IN ('D','R','F') AND
			NOT EXISTS (SELECT *  
						FROM #CTB_CONTA_CONTABIL Z
						WHERE C.EMPRESA					= Z.EMPRESA 			AND
							C.COD_FILIAL				= Z.COD_FILIAL 			AND
							C.COD_MATRIZ_CONTABIL		= Z.COD_MATRIZ_CONTABIL	AND
							C.CENTRO_CUSTO				= Z.CENTRO_CUSTO		AND
							C.TIPO_MOVIMENTO			= Z.TIPO_MOVIMENTO		AND
							A.CONTA_CONTABIL 			= Z.CONTA_CONTABIL 		AND
							A.CLASSIFICACAO				= Z.CLASSIFICACAO)		AND
							ISNULL(D.LX_GRUPO_CONTABIL,'') 	<> 'N'
						GROUP BY (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE C.EMPRESA END), C.COD_FILIAL, C.COD_MATRIZ_CONTABIL, C.CENTRO_CUSTO, C.TIPO_MOVIMENTO, A.CLASSIFICACAO, A.CONTA_CONTABIL, B.LX_GRUPO_CONTABIL, A.PORCENTAGEM
			)			
		END
   END
ELSE
	BEGIN
      INSERT #CTB_CONTA_CONTABIL (EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, TIPO_MOVIMENTO, CLASSIFICACAO, CONTA_CONTABIL, CREDITO, DEBITO, SALDO_ANTERIOR)
      (SELECT 	(CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE C.EMPRESA END), C.COD_FILIAL, C.COD_MATRIZ_CONTABIL, C.CENTRO_CUSTO, C.TIPO_MOVIMENTO, A.CLASSIFICACAO, A.CONTA_CONTABIL, 
			      CREDITO			= 0, 
			      DEBITO			= 0,
			      SALDO_ANTERIOR	= 	ISNULL(SUM(SALDO_ATIVOPASSIVO),0)*(A.PORCENTAGEM/100)
      FROM CTB_PLANO_VISAO	A
		      JOIN CTB_CONTA_PLANO B ON
			      A.CONTA_CONTABIL = B.CONTA_CONTABIL
		      JOIN (SELECT A.EMPRESA, A.COD_FILIAL, A.COD_MATRIZ_CONTABIL, A.CENTRO_CUSTO, A.TIPO_MOVIMENTO, A.CONTA_CONTABIL, A.ID_GRUPO_CENTRO_CUSTO, 
							SUM(SALDO) AS SALDO_ATIVOPASSIVO, B.LX_GRUPO_MOVIMENTO
					      FROM CTB_BALANCETE_SALDO_ANTERIOR A
								--#1#
								LEFT JOIN CTB_CENTRO_CUSTO_USUARIO   ON 
									CTB_CENTRO_CUSTO_USUARIO.USUARIO = @USUARIO AND 
									(A.CENTRO_CUSTO = CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO OR CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO IS NULL) AND 
									(A.COD_FILIAL = CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL OR CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL IS NULL)
								JOIN CTB_MOVIMENTO_TIPO B ON
									B.TIPO_MOVIMENTO = A.TIPO_MOVIMENTO
					      WHERE DATA_SALDO				<	@DATA_INICIAL AND 
							(ISNULL(@VALIDA_CC,0) = 0 OR CTB_CENTRO_CUSTO_USUARIO.USUARIO IS NOT NULL)
					      GROUP BY A.EMPRESA, A.COD_FILIAL, A.COD_MATRIZ_CONTABIL, A.CENTRO_CUSTO, A.TIPO_MOVIMENTO , A.CONTA_CONTABIL, A.ID_GRUPO_CENTRO_CUSTO, B.LX_GRUPO_MOVIMENTO 
					      HAVING SUM(SALDO) <> 0 ) C ON 
				      (C.EMPRESA					= @EMPRESA			OR @EMPRESA				= 0	)							AND
				      (C.COD_FILIAL				= @COD_FILIAL		OR @COD_FILIAL 		IS NULL)							AND
				      (C.COD_MATRIZ_CONTABIL	= @COD_MATRIZ_CONTABIL		OR @COD_MATRIZ_CONTABIL 		IS NULL)	AND
				      (C.CENTRO_CUSTO			= @CENTRO_CUSTO	OR @CENTRO_CUSTO		IS NULL)							AND
				      (C.TIPO_MOVIMENTO			= @TIPO_MOVIMENTO			OR (@TIPO_MOVIMENTO IS NULL AND C.LX_GRUPO_MOVIMENTO <> 'E')) AND 
				      C.CONTA_CONTABIL			= A.CONTA_CONTABIL	AND
				      (C.ID_GRUPO_CENTRO_CUSTO = A.ID_GRUPO_CENTRO_CUSTO OR A.ID_GRUPO_CENTRO_CUSTO IS NULL)	
		      JOIN CTB_VISAO	D ON
			      A.VISAO_CONTABIL	= D.VISAO_CONTABIL		AND
			      A.CLASSIFICACAO	= D.CLASSIFICACAO
				JOIN #FX_USERS_MATRIZ_CONTABIL E ON
					C.COD_MATRIZ_CONTABIL			= E.COD_MATRIZ_CONTABIL
      WHERE A.VISAO_CONTABIL	= @VISAO_CONTABIL	AND
		      RTRIM(B.LX_GRUPO_CONTABIL) NOT IN ('D','R','F') AND
		      NOT EXISTS (SELECT *  
							      FROM #CTB_CONTA_CONTABIL Z
							      WHERE C.EMPRESA					= Z.EMPRESA 				AND
									      C.COD_FILIAL				= Z.COD_FILIAL 			AND
									      C.COD_MATRIZ_CONTABIL	= Z.COD_MATRIZ_CONTABIL	AND
									      C.CENTRO_CUSTO				= Z.CENTRO_CUSTO			AND
									      C.TIPO_MOVIMENTO			= Z.TIPO_MOVIMENTO		AND
									      A.CONTA_CONTABIL 			= Z.CONTA_CONTABIL 		AND
									      A.CLASSIFICACAO			= Z.CLASSIFICACAO)		AND
		      ISNULL(D.LX_GRUPO_CONTABIL,'') 	<> 'N'
      GROUP BY (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE C.EMPRESA END), C.COD_FILIAL, C.COD_MATRIZ_CONTABIL, C.CENTRO_CUSTO, C.TIPO_MOVIMENTO, A.CLASSIFICACAO, A.CONTA_CONTABIL, B.LX_GRUPO_CONTABIL, A.PORCENTAGEM
      )


      -- INSERT DAS CONTAS SEM MOVIMENTO DE DESPESA E RECEITA
      IF @NAO_ZERAR_RECEITA_DESPESA = 0
		BEGIN		
			INSERT #CTB_CONTA_CONTABIL (EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, TIPO_MOVIMENTO, C.CLASSIFICACAO, CONTA_CONTABIL, CREDITO, DEBITO, SALDO_ANTERIOR)
			(SELECT (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE C.EMPRESA END), C.COD_FILIAL, C.COD_MATRIZ_CONTABIL, C.CENTRO_CUSTO, C.TIPO_MOVIMENTO, A.CLASSIFICACAO, A.CONTA_CONTABIL, 
					CREDITO			= 0, 
					DEBITO			= 0,
					SALDO_ANTERIOR	= ISNULL(SUM(SALDO_RECEITADESPESA),0)*(A.PORCENTAGEM/100)
			FROM CTB_PLANO_VISAO	A
			JOIN CTB_CONTA_PLANO B ON
				A.CONTA_CONTABIL = B.CONTA_CONTABIL
			JOIN (	SELECT EMPRESA, CTB_BALANCETE_SALDO_ANTERIOR.COD_FILIAL, COD_MATRIZ_CONTABIL, CTB_BALANCETE_SALDO_ANTERIOR.CENTRO_CUSTO, CTB_BALANCETE_SALDO_ANTERIOR.TIPO_MOVIMENTO, 
						CONTA_CONTABIL, ID_GRUPO_CENTRO_CUSTO, SUM(SALDO)  AS SALDO_RECEITADESPESA, B.LX_GRUPO_MOVIMENTO
					FROM CTB_BALANCETE_SALDO_ANTERIOR 
							--#1#
							LEFT JOIN CTB_CENTRO_CUSTO_USUARIO   ON 
								CTB_CENTRO_CUSTO_USUARIO.USUARIO = @USUARIO AND 
								(CTB_BALANCETE_SALDO_ANTERIOR.CENTRO_CUSTO = CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO OR CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO IS NULL) AND 
								(CTB_BALANCETE_SALDO_ANTERIOR.COD_FILIAL = CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL OR CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL IS NULL)
							JOIN CTB_MOVIMENTO_TIPO B ON
									B.TIPO_MOVIMENTO = CTB_BALANCETE_SALDO_ANTERIOR.TIPO_MOVIMENTO
					WHERE	--DATA_SALDO 				>= CAST(YEAR(@DATA_INICIAL)	AS VARCHAR(4))+'0101'	AND
							DATA_SALDO >= CAST(YEAR(@DATA_INICIAL) AS VARCHAR(4)) + '0101' AND
							DATA_SALDO				<	@DATA_INICIAL AND 
							(ISNULL(@VALIDA_CC,0) = 0 OR CTB_CENTRO_CUSTO_USUARIO.USUARIO IS NOT NULL)
					GROUP BY EMPRESA, CTB_BALANCETE_SALDO_ANTERIOR.COD_FILIAL, COD_MATRIZ_CONTABIL, CTB_BALANCETE_SALDO_ANTERIOR.CENTRO_CUSTO, CTB_BALANCETE_SALDO_ANTERIOR.TIPO_MOVIMENTO, CONTA_CONTABIL, ID_GRUPO_CENTRO_CUSTO, B.LX_GRUPO_MOVIMENTO 
					HAVING SUM(SALDO) <> 0) C ON 
				(C.EMPRESA					= @EMPRESA				OR @EMPRESA					= 0	)		AND
				(C.COD_FILIAL				= @COD_FILIAL			OR @COD_FILIAL 				IS NULL)	AND
				(C.COD_MATRIZ_CONTABIL		= @COD_MATRIZ_CONTABIL	OR @COD_MATRIZ_CONTABIL 	IS NULL)	AND
				(C.CENTRO_CUSTO				= @CENTRO_CUSTO			OR @CENTRO_CUSTO			IS NULL)	AND
				(C.TIPO_MOVIMENTO			= @TIPO_MOVIMENTO			OR (@TIPO_MOVIMENTO IS NULL AND C.LX_GRUPO_MOVIMENTO <> 'E')) AND 
				C.CONTA_CONTABIL			= A.CONTA_CONTABIL		AND
				(C.ID_GRUPO_CENTRO_CUSTO = A.ID_GRUPO_CENTRO_CUSTO	OR A.ID_GRUPO_CENTRO_CUSTO	IS NULL)	
			JOIN CTB_VISAO	D ON
				A.VISAO_CONTABIL	= D.VISAO_CONTABIL		AND
				A.CLASSIFICACAO	= D.CLASSIFICACAO
			JOIN #FX_USERS_MATRIZ_CONTABIL E ON
				C.COD_MATRIZ_CONTABIL			= E.COD_MATRIZ_CONTABIL
			WHERE A.VISAO_CONTABIL	= @VISAO_CONTABIL	AND
				RTRIM(B.LX_GRUPO_CONTABIL) IN ('D','R','F') AND
			NOT EXISTS (SELECT *  
						FROM #CTB_CONTA_CONTABIL Z
						WHERE	C.EMPRESA					= Z.EMPRESA 				AND
								C.COD_FILIAL				= Z.COD_FILIAL 			AND
								C.COD_MATRIZ_CONTABIL	= Z.COD_MATRIZ_CONTABIL	AND
								C.CENTRO_CUSTO				= Z.CENTRO_CUSTO			AND
								C.TIPO_MOVIMENTO			= Z.TIPO_MOVIMENTO		AND
								A.CONTA_CONTABIL 			= Z.CONTA_CONTABIL 		AND
								A.CLASSIFICACAO			= Z.CLASSIFICACAO)		AND
								ISNULL(D.LX_GRUPO_CONTABIL,'') 	<> 'N'
						GROUP BY (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE C.EMPRESA END), C.COD_FILIAL, C.COD_MATRIZ_CONTABIL, C.CENTRO_CUSTO, C.TIPO_MOVIMENTO, A.CLASSIFICACAO, A.CONTA_CONTABIL, B.LX_GRUPO_CONTABIL, A.PORCENTAGEM
			)
		END
	ELSE
		BEGIN
			INSERT #CTB_CONTA_CONTABIL (EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, TIPO_MOVIMENTO, C.CLASSIFICACAO, CONTA_CONTABIL, CREDITO, DEBITO, SALDO_ANTERIOR)
			(SELECT (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE C.EMPRESA END), C.COD_FILIAL, C.COD_MATRIZ_CONTABIL, C.CENTRO_CUSTO, C.TIPO_MOVIMENTO, A.CLASSIFICACAO, A.CONTA_CONTABIL, 
					CREDITO			= 0, 
					DEBITO			= 0,
					SALDO_ANTERIOR	= ISNULL(SUM(SALDO_RECEITADESPESA),0)*(A.PORCENTAGEM/100)
			FROM CTB_PLANO_VISAO	A
			JOIN CTB_CONTA_PLANO B ON
				A.CONTA_CONTABIL = B.CONTA_CONTABIL
			JOIN (	SELECT EMPRESA, CTB_BALANCETE_SALDO_ANTERIOR.COD_FILIAL, COD_MATRIZ_CONTABIL, CTB_BALANCETE_SALDO_ANTERIOR.CENTRO_CUSTO, 
						CTB_BALANCETE_SALDO_ANTERIOR.TIPO_MOVIMENTO, CONTA_CONTABIL, ID_GRUPO_CENTRO_CUSTO, SUM(SALDO)  AS SALDO_RECEITADESPESA, B.LX_GRUPO_MOVIMENTO
					FROM CTB_BALANCETE_SALDO_ANTERIOR 
							--#1#
							LEFT JOIN CTB_CENTRO_CUSTO_USUARIO   ON 
								CTB_CENTRO_CUSTO_USUARIO.USUARIO = @USUARIO AND 
								(CTB_BALANCETE_SALDO_ANTERIOR.CENTRO_CUSTO = CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO OR CTB_CENTRO_CUSTO_USUARIO.CENTRO_CUSTO IS NULL) AND 
								(CTB_BALANCETE_SALDO_ANTERIOR.COD_FILIAL = CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL OR CTB_CENTRO_CUSTO_USUARIO.COD_FILIAL IS NULL)
							JOIN CTB_MOVIMENTO_TIPO B ON
									B.TIPO_MOVIMENTO = CTB_BALANCETE_SALDO_ANTERIOR.TIPO_MOVIMENTO
					WHERE	DATA_SALDO				<	@DATA_INICIAL AND 
							(ISNULL(@VALIDA_CC,0) = 0 OR CTB_CENTRO_CUSTO_USUARIO.USUARIO IS NOT NULL)
					GROUP BY EMPRESA, CTB_BALANCETE_SALDO_ANTERIOR.COD_FILIAL, COD_MATRIZ_CONTABIL, CTB_BALANCETE_SALDO_ANTERIOR.CENTRO_CUSTO, CTB_BALANCETE_SALDO_ANTERIOR.TIPO_MOVIMENTO, CONTA_CONTABIL, ID_GRUPO_CENTRO_CUSTO, B.LX_GRUPO_MOVIMENTO 
					HAVING SUM(SALDO) <> 0) C ON 
				(C.EMPRESA					= @EMPRESA				OR @EMPRESA					= 0	)		AND
				(C.COD_FILIAL				= @COD_FILIAL			OR @COD_FILIAL 				IS NULL)	AND
				(C.COD_MATRIZ_CONTABIL		= @COD_MATRIZ_CONTABIL	OR @COD_MATRIZ_CONTABIL 	IS NULL)	AND
				(C.CENTRO_CUSTO				= @CENTRO_CUSTO			OR @CENTRO_CUSTO			IS NULL)	AND
				(C.TIPO_MOVIMENTO			= @TIPO_MOVIMENTO		OR (@TIPO_MOVIMENTO IS NULL AND C.LX_GRUPO_MOVIMENTO <> 'E')) AND 
				C.CONTA_CONTABIL			= A.CONTA_CONTABIL		AND
				(C.ID_GRUPO_CENTRO_CUSTO = A.ID_GRUPO_CENTRO_CUSTO	OR A.ID_GRUPO_CENTRO_CUSTO	IS NULL)	
			JOIN CTB_VISAO	D ON
				A.VISAO_CONTABIL	= D.VISAO_CONTABIL		AND
				A.CLASSIFICACAO	= D.CLASSIFICACAO
			JOIN #FX_USERS_MATRIZ_CONTABIL E ON
				C.COD_MATRIZ_CONTABIL			= E.COD_MATRIZ_CONTABIL
			WHERE A.VISAO_CONTABIL	= @VISAO_CONTABIL	AND
				RTRIM(B.LX_GRUPO_CONTABIL) IN ('D','R','F') AND
			NOT EXISTS (SELECT *  
						FROM #CTB_CONTA_CONTABIL Z
						WHERE	C.EMPRESA					= Z.EMPRESA 				AND
								C.COD_FILIAL				= Z.COD_FILIAL 			AND
								C.COD_MATRIZ_CONTABIL	= Z.COD_MATRIZ_CONTABIL	AND
								C.CENTRO_CUSTO				= Z.CENTRO_CUSTO			AND
								C.TIPO_MOVIMENTO			= Z.TIPO_MOVIMENTO		AND
								A.CONTA_CONTABIL 			= Z.CONTA_CONTABIL 		AND
								A.CLASSIFICACAO			= Z.CLASSIFICACAO)		AND
								ISNULL(D.LX_GRUPO_CONTABIL,'') 	<> 'N'
						GROUP BY (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE C.EMPRESA END), C.COD_FILIAL, C.COD_MATRIZ_CONTABIL, C.CENTRO_CUSTO, C.TIPO_MOVIMENTO, A.CLASSIFICACAO, A.CONTA_CONTABIL, B.LX_GRUPO_CONTABIL, A.PORCENTAGEM
			)		
		END
   END

-- INSERT DAS CONTAS SEM MOVIMENTO E SEM SALDO ANTERIOR
IF @SMOV <> 0
	INSERT #CTB_CONTA_CONTABIL (EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, TIPO_MOVIMENTO, CLASSIFICACAO, CONTA_CONTABIL, CREDITO, DEBITO, SALDO_ANTERIOR)
	(SELECT 	(CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE C.EMPRESA END), C.COD_FILIAL, C.COD_MATRIZ_CONTABIL, C.CENTRO_CUSTO, C.TIPO_MOVIMENTO, A.CLASSIFICACAO, A.CONTA_CONTABIL, 
				CREDITO			= 0, 
				DEBITO			= 0,
				SALDO_ANTERIOR	= 0
	FROM CTB_PLANO_VISAO	A
			JOIN CTB_CONTA_PLANO B ON
				A.CONTA_CONTABIL = B.CONTA_CONTABIL
			CROSS JOIN (SELECT EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, TIPO_MOVIMENTO, CONTA_CONTABIL
						FROM #CTB_CONTA_CONTABIL
						GROUP BY EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, TIPO_MOVIMENTO, CONTA_CONTABIL ) C
			JOIN CTB_VISAO	D ON
				A.VISAO_CONTABIL	= D.VISAO_CONTABIL		AND
				A.CLASSIFICACAO	= D.CLASSIFICACAO
			JOIN #FX_USERS_MATRIZ_CONTABIL E ON
				C.COD_MATRIZ_CONTABIL			= E.COD_MATRIZ_CONTABIL
	WHERE A.VISAO_CONTABIL	= @VISAO_CONTABIL AND
			NOT EXISTS (SELECT *  
							FROM #CTB_CONTA_CONTABIL Z
							WHERE C.EMPRESA					= Z.EMPRESA 				AND
									C.COD_FILIAL				= Z.COD_FILIAL 			AND
									C.COD_MATRIZ_CONTABIL	= Z.COD_MATRIZ_CONTABIL	AND
									C.CENTRO_CUSTO				= Z.CENTRO_CUSTO			AND
									C.TIPO_MOVIMENTO			= Z.TIPO_MOVIMENTO		AND
									A.CONTA_CONTABIL 			= Z.CONTA_CONTABIL 		AND
									A.CLASSIFICACAO			= Z.CLASSIFICACAO)		AND
			ISNULL(D.LX_GRUPO_CONTABIL,'') 	<> 'N'
	GROUP BY (CASE WHEN @EMPRESA = 0 THEN @EMPRESA ELSE C.EMPRESA END), C.COD_FILIAL, C.COD_MATRIZ_CONTABIL, C.CENTRO_CUSTO, C.TIPO_MOVIMENTO, A.CLASSIFICACAO, A.CONTA_CONTABIL, B.LX_GRUPO_CONTABIL
	)

-- CRIA TABELA PARA GUARDAR VISAO_CONTABIL E CLASSIFICACAO
CREATE TABLE #CTB_CLASSIFICACAO
				(	EMPRESA					INT,
					COD_FILIAL				VARCHAR(6)  	COLLATE DATABASE_DEFAULT,
					COD_MATRIZ_CONTABIL		VARCHAR(6) 		COLLATE DATABASE_DEFAULT,
					CENTRO_CUSTO			VARCHAR(15) 	COLLATE DATABASE_DEFAULT,
					TIPO_MOVIMENTO			TINYINT,		
					VISAO_CONTABIL			VARCHAR(4),
					CLASSIFICACAO			VARCHAR(20) 	COLLATE DATABASE_DEFAULT,
					CREDITO					NUMERIC(19,5),
					DEBITO					NUMERIC(19,5),
					SALDO_ANTERIOR			NUMERIC(19,5),
					NIVEL1					VARCHAR(20) 	COLLATE DATABASE_DEFAULT,
					NIVEL2					VARCHAR(20) 	COLLATE DATABASE_DEFAULT,
					NIVEL3					VARCHAR(20) 	COLLATE DATABASE_DEFAULT,
					NIVEL4					VARCHAR(20) 	COLLATE DATABASE_DEFAULT,
					NIVEL5					VARCHAR(20) 	COLLATE DATABASE_DEFAULT,
					NIVEL6					VARCHAR(20) 	COLLATE DATABASE_DEFAULT,
					NIVEL7					VARCHAR(20) 	COLLATE DATABASE_DEFAULT,
					NIVEL8					VARCHAR(20) 	COLLATE DATABASE_DEFAULT,
					NIVEL9					VARCHAR(20) 	COLLATE DATABASE_DEFAULT,
					NIVEL10					VARCHAR(20) 	COLLATE DATABASE_DEFAULT,
					NIVEL11					VARCHAR(20) 	COLLATE DATABASE_DEFAULT,
					NIVEL12					VARCHAR(20) 	COLLATE DATABASE_DEFAULT
				)

-- GRAVA CLASSIFICACAO E OS NIVEIS DA CLASSIFICACAO
INSERT #CTB_CLASSIFICACAO (EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, TIPO_MOVIMENTO, VISAO_CONTABIL, CLASSIFICACAO, DEBITO, CREDITO, SALDO_ANTERIOR, 
									NIVEL1, NIVEL2, NIVEL3, NIVEL4, NIVEL5, NIVEL6, NIVEL7, NIVEL8, NIVEL9, NIVEL10, NIVEL11, NIVEL12)
(SELECT 	EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, /*#3#*/A.TIPO_MOVIMENTO, B.VISAO_CONTABIL, B.CLASSIFICACAO, SUM(ISNULL(DEBITO,0)), SUM(ISNULL(CREDITO,0)), SUM(ISNULL(SALDO_ANTERIOR,0)),
			NIVEL1, NIVEL2, NIVEL3, NIVEL4, NIVEL5, NIVEL6, NIVEL7, NIVEL8, NIVEL9, NIVEL10, NIVEL11, NIVEL12	
	FROM #CTB_CONTA_CONTABIL A
		JOIN CTB_PLANO_VISAO B 	ON
				B.VISAO_CONTABIL	= @VISAO_CONTABIL AND
				B.CLASSIFICACAO	= A.CLASSIFICACAO	AND
				B.CONTA_CONTABIL	= A.CONTA_CONTABIL
		JOIN W_CTB_VISAO_NIVEL C ON 
				C.VISAO_CONTABIL	= @VISAO_CONTABIL AND
				C.CLASSIFICACAO	= B.CLASSIFICACAO
		JOIN CTB_VISAO D ON
					B.VISAO_CONTABIL	= D.VISAO_CONTABIL	AND
					B.CLASSIFICACAO	= D.CLASSIFICACAO
		WHERE ISNULL(D.LX_GRUPO_CONTABIL,'') 		<> 'N'
	GROUP BY EMPRESA, COD_FILIAL, COD_MATRIZ_CONTABIL, CENTRO_CUSTO, a.TIPO_MOVIMENTO, B.VISAO_CONTABIL, B.CLASSIFICACAO, 
				NIVEL1, NIVEL2, NIVEL3, NIVEL4, NIVEL5, NIVEL6, NIVEL7, NIVEL8, NIVEL9, NIVEL10, NIVEL11, NIVEL12)

-- DELETE TABELA DE DADOS DA CONTA_CONTABIL
DROP TABLE #CTB_CONTA_CONTABIL

-- CRIA TABELA PARA GERAR BALANCETE
CREATE TABLE #CTB_BALANCETE 
				(	NIVEL						CHAR(3) COLLATE DATABASE_DEFAULT,
					EMPRESA					INT,
					VISAO_CONTABIL			VARCHAR(4) COLLATE DATABASE_DEFAULT,
					ID_EXERCICIO			INT,
					ID_PERIODO				INT,
					COD_FILIAL				VARCHAR(6) COLLATE DATABASE_DEFAULT,
					CENTRO_CUSTO			VARCHAR(15) COLLATE DATABASE_DEFAULT,
					CLASSIFICACAO			VARCHAR(20) COLLATE DATABASE_DEFAULT,
					DEBITO					DECIMAL(19,5),
					CREDITO					DECIMAL(19,5),
					SALDO_ANTERIOR			DECIMAL(19,5),
					SALDO_ATUAL				DECIMAL(19,5),
					ID_VERSAO_CONTABIL	INT,    
					COD_MATRIZ_CONTABIL	VARCHAR(6) 		COLLATE DATABASE_DEFAULT,
					TIPO_MOVIMENTO			TINYINT
		      )		

-- CRIA INDICE PARA TABELA DO BALANCETE
CREATE NONCLUSTERED INDEX IND_CTB_BALANCETE
   ON #CTB_BALANCETE (NIVEL,EMPRESA,VISAO_CONTABIL,ID_VERSAO_CONTABIL, ID_EXERCICIO,ID_PERIODO,CLASSIFICACAO)
   WITH FILLFACTOR = 80	


DECLARE 	@NIVEL 		INT, 
			@NIVEL_STR	VARCHAR(2)

SELECT @NIVEL = 1

WHILE @NIVEL <= 12
		BEGIN

			SELECT @NIVEL_STR	= RTRIM(CAST(@NIVEL AS VARCHAR(2)))

			EXEC	( 'INSERT #CTB_BALANCETE ( NIVEL, EMPRESA, COD_MATRIZ_CONTABIL, COD_FILIAL, CENTRO_CUSTO, TIPO_MOVIMENTO, VISAO_CONTABIL, ID_VERSAO_CONTABIL, ID_EXERCICIO, ID_PERIODO,
								CLASSIFICACAO, DEBITO, CREDITO, SALDO_ANTERIOR, SALDO_ATUAL )
						SELECT 	'''+'N1'+''', EMPRESA, COD_MATRIZ_CONTABIL, COD_FILIAL, CENTRO_CUSTO, TIPO_MOVIMENTO, '''+@VISAO_CONTABIL+''', '+@ID_VERSAO_CONTABIL+', '+@ID_EXERCICIO+', '+@ID_PERIODO+',
								NIVEL'+ @NIVEL_STR +', SUM(DEBITO), SUM(CREDITO), SUM(SALDO_ANTERIOR), SUM(SALDO_ANTERIOR+CREDITO-DEBITO)	
						FROM #CTB_CLASSIFICACAO		
						WHERE NIVEL'+@NIVEL_STR+' IS NOT NULL
						GROUP BY EMPRESA, COD_MATRIZ_CONTABIL, COD_FILIAL, CENTRO_CUSTO, TIPO_MOVIMENTO, NIVEL'+@NIVEL_STR 
					)			

			SELECT @NIVEL = @NIVEL + 1

		END

DROP TABLE #CTB_CLASSIFICACAO

SELECT 	CB.NIVEL,
			CB.EMPRESA,
			CB.VISAO_CONTABIL,
			CB.ID_EXERCICIO,
			CB.ID_PERIODO,
			CB.COD_FILIAL,
			CENTRO_CUSTO 	= ISNULL(H.CLASSIFICACAO_CCUSTO,CB.CENTRO_CUSTO),
			CB.CLASSIFICACAO,
			CB.ID_VERSAO_CONTABIL,    
			CB.COD_MATRIZ_CONTABIL,
			CB.TIPO_MOVIMENTO,
			CV.DESCR_CONTA, 
			CV.CLASSIFICACAO_TOTALIZA_EM, 
			CV.CLASSIFICACAO_ANALITICA, 
			MATRIZ_CONTABIL = D.NOME_CLIFOR, 
			E.FILIAL, 
			DESC_CENTRO_CUSTO	= ISNULL(H.DESCR_CLASSIF_CCUSTO,F.DESC_CENTRO_CUSTO),
			G.DESC_TIPO_MOVIMENTO,
			DEBITO 			= SUM(CB.DEBITO),
			CREDITO			= SUM(CB.CREDITO),
			SALDO_ANTERIOR	= SUM(CB.SALDO_ANTERIOR),
			SALDO_ATUAL		= SUM(CB.SALDO_ATUAL),
			SALDO_PERIODO	= SUM(CB.CREDITO)-SUM(CB.DEBITO),
			ID_GRUPO_CENTRO_CUSTO	= ISNULL(H.CLASSIFICACAO_CCUSTO,I.ID_GRUPO_CENTRO_CUSTO),
			DESC_GRUPO_CENTRO_CUSTO	= ISNULL(H.DESCR_CLASSIF_CCUSTO,I.DESC_GRUPO_CENTRO_CUSTO)
		FROM  #CTB_BALANCETE CB WITH (NOLOCK) 
			JOIN CTB_VISAO CV WITH (NOLOCK) ON
				CB.VISAO_CONTABIL 		= CV.VISAO_CONTABIL 		AND 
				CB.CLASSIFICACAO 			= CV.CLASSIFICACAO		
			LEFT JOIN W_CTB_MATRIZ_CONTABIL D ON
				CB.COD_MATRIZ_CONTABIL	= D.COD_CLIFOR
			LEFT JOIN FILIAIS E ON
				CB.COD_FILIAL				= E.COD_FILIAL
			LEFT JOIN CTB_CENTRO_CUSTO F ON
				CB.CENTRO_CUSTO			= F.CENTRO_CUSTO
			LEFT JOIN CTB_MOVIMENTO_TIPO G ON
				CB.TIPO_MOVIMENTO			= G.TIPO_MOVIMENTO
			LEFT JOIN W_CTB_VISAO_CCUSTO H ON
				H.VISAO_CCUSTO				= @VISAO_CCUSTO		AND
				H.CENTRO_CUSTO				= CB.CENTRO_CUSTO
			LEFT JOIN CTB_CENTRO_CUSTO_GRUPO I ON
				I.ID_GRUPO_CENTRO_CUSTO = F.ID_GRUPO_CENTRO_CUSTO	
		GROUP BY CB.NIVEL, CB.EMPRESA, CB.VISAO_CONTABIL, CB.ID_EXERCICIO, CB.ID_PERIODO, CB.COD_FILIAL, ISNULL(H.CLASSIFICACAO_CCUSTO,CB.CENTRO_CUSTO),
					CB.CLASSIFICACAO, CB.ID_VERSAO_CONTABIL, CB.COD_MATRIZ_CONTABIL, CB.TIPO_MOVIMENTO, CV.DESCR_CONTA, 
					CV.CLASSIFICACAO_TOTALIZA_EM, CV.CLASSIFICACAO_ANALITICA, D.NOME_CLIFOR, E.FILIAL, ISNULL(H.DESCR_CLASSIF_CCUSTO,F.DESC_CENTRO_CUSTO),
					G.DESC_TIPO_MOVIMENTO, ISNULL(H.CLASSIFICACAO_CCUSTO,I.ID_GRUPO_CENTRO_CUSTO), ISNULL(H.DESCR_CLASSIF_CCUSTO,I.DESC_GRUPO_CENTRO_CUSTO)
		ORDER BY CB.EMPRESA, CB.COD_FILIAL, CB.COD_MATRIZ_CONTABIL, ISNULL(H.CLASSIFICACAO_CCUSTO,CB.CENTRO_CUSTO), CB.TIPO_MOVIMENTO, CB.CLASSIFICACAO, CB.ID_PERIODO

DROP TABLE #CTB_BALANCETE

RETURN

ERROR:

SELECT @ERRMSG = ISNULL(@ERRMSG, '')
RAISERROR (@ERRMSG, 16, 1)